{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block content_title %}
    <h1>Управление семантическим ядром сайта</h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/admin/css/seo.css">
{% endblock %}

{% block extrahead %}
    <script src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}/admin/js/seo.js"></script>
{% endblock %}

{% block bodyclass %}
    {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">
            {% trans 'Home' %}
        </a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">
            {{ cl.opts.app_config.verbose_name }}
        </a>
        &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="semantic-core__table-wrapper js-semantic-core__table-wrapper">

        </div>
    </div>
{% endblock %}