body,
button,
input,
label,
select,
textarea {
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif;
    color: #333
}

.clear:after,
.container,
.main-menu {
    clear: both
}

.catalog-index__category__children-link,
.category-block__column p,
.category-root__category__child,
.category-root__category__name,
.main-menu__catalog__root-item,
.main-menu__search__popup__product__name,
.main-menu__search__popup__product__price {
    text-overflow: ellipsis;
    white-space: nowrap
}

@font-face {
    font-family: ruble;
    src: url(../fonts/ruble.eot);
    src: url(../fonts/ruble.eot?#iefix) format('embedded-opentype'), url(../fonts/ruble.woff) format('woff'), url(../fonts/ruble.ttf) format('truetype'), url(../fonts/ruble.svg#ruble) format('svg');
    font-weight: 400;
    font-style: normal
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4em;
    vertical-align: baseline;
    outline: 0;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

button,
input,
label,
select,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1;
    font-size: 15px
}

select[multiple],
textarea {
    vertical-align: top
}

:focus {
    outline-color: transparent;
    outline-style: none
}

button,
input,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
select,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
    width: 13px;
    height: 13px
}

input[type=search],
input[type=text] {
    line-height: 21px
}

input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff
}

::-webkit-search-decoration {
    display: none
}

button,
input[type=reset],
input[type=button],
input[type=submit] {
    overflow: visible;
    width: auto
}

::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: 0 0
}

textarea {
    overflow: auto
}

body {
    line-height: 1.3
}

.caption,
.grey-button {
    font-family: 'Tenor Sans', sans-serif
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clear:after,
.clear:before {
    content: "";
    display: table
}

.clear {
    zoom: 1
}

.debug-yellow {
    background-color: #333;
    color: #ff0
}

.hide {
    display: none
}

.strong-hide {
    display: none!important
}

.dashed-link,
.inline,
.top-menu a {
    display: inline-block
}

.debug {
    border: 4px solid #e85849!important
}

a,
a:active,
a:visited {
    color: #01b0f3;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

.link {
    color: #01b0f3;
    text-decoration: underline;
    cursor: pointer
}

.link:hover {
    text-decoration: none;
    color: red
}

.reverse-link {
    color: #01b0f3;
    text-decoration: none;
    cursor: pointer
}

.reverse-link:hover {
    text-decoration: underline;
    color: red
}

.dashed-link {
    color: #01b0f3;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed #01b0f3
}

.dashed-link:hover {
    text-decoration: none;
    border-bottom: 1px solid red;
    color: red
}

.container {
    width: 960px;
    max-width: 960px;
    margin: 0 auto
}

.sidebar {
    width: 310px;
    float: left;
}

.content.with-sidebar {
    margin-left: 330px;
}

.top-menu {
    padding: 5px 0
}

.top-menu a {
    color: #488274;
    text-decoration: none;
    margin-right: 25px;
    transition: text-decoration 0.3s ease-out;
}

.top-menu a:hover {
    text-decoration: underline
}

.head-info__logo {
    width: 180px;
    margin: 10px 0;
    display: inline-block;
    vertical-align: top;
    margin-left: -26px;
}

.head-info__logo div {
    width: 100%;
    height: 90px;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.head-info__name {
    font-weight: 400;
    font-size: 13px;
    color: #488274;
    display: block;
    text-align: center;
}

.head-info__cart
{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d7d7d7;
    height: 82px;
    min-height: 82px;
    max-height: 82px;
    width: 216px;
    min-width: 216px;
    max-width: 216px;
    margin-top: 25px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.head-info__cart.empty .head-info__cart__status
{
    font-size: 15px;
    color: #488274;
    margin-top: 19px;
    margin-left: 10px;
}

.head-info__cart.full .head-info__cart__status
{
    font-size: 15px;
    color: #488274;
    margin-top: 0px;
    margin-left: 7px;
    color: #488274;
}

.head-info__cart.empty .head-info__cart__price
{
    display: none;
}

.head-info__cart.full .head-info__cart__price
{
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 2px;
    font-weight: bold;
    color: #488274;
}

.head-info__cart.full .head-info__cart__price span
{
    color: #488274;
    font-size: 13px;
}

.head-info__cart.empty .head-info__cart__count
{
    display: none;
}

.head-info__cart.full .head-info__cart__count
{
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 7px;
    color: #488274;
}

.head-info__cart.full .head-info__cart__count span
{
    color: #488274;
    font-size: 15px;
    font-weight: bold;
}


.head-info__cart__link
{
    display: none;
    background-image: url(../img/smile_cat.png);
    background-position: center left;
    background-repeat: no-repeat;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 8px;
    left: 4px;
    opacity: 0.7;
}

.head-info__cart__link:hover
{
    opacity: 1.0;
}

.head-info__cart.full
{
    padding: 8px 10px 10px 70px;
}

.head-info__cart.full .head-info__cart__link
{
    display: block;
}

.head-info__phones {
    width: 300px;
    margin-left: 25px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.head-info__phones p {
    font-size: 26px;
}

.head-info__phones p:nth-of-type(1) {
    padding-top: 20px
}

.head-phone-link,
.head-phone-link:active,
.head-phone-link:visited
{
    font-size: 26px;
    font-family: 'Tenor Sans', sans-serif;
    color: #333;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #fff;
    transition: border-color 0.35s ease-out;
}

.head-phone-link:hover
{
    text-decoration: none;
    border-bottom: 1px solid #333;
}


.head-info__work-time {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.call-link {
    font-size: 13px
}

.head-info__work-time p {
    font-size: 13px;
    color: #488274
}

.main-menu__search__failure p,
.menu-search-input {
    font-size: 15px;
    color: #488274
}

.head-info__work-time p:nth-of-type(1) {
    padding-top: 24px
}

.main-menu {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7
}

.main-menu__inner {
    position: relative
}

.main-menu__search {
    background-color: #d7d7d7;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 310px
}

.menu-search-input {
    padding: 5px;
    border: none;
    position: absolute;
    left: 7px;
    top: 7px;
    max-width: 265px;
    width: 265px
}

.main-menu__search__status {
    display: block;
    background-color: #fff;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 31px;
    bottom: 7px;
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none
}

.main-menu__search__status:hover {
    opacity: .8;
    text-decoration: none
}

.main-menu__search__status.busy {
    background-image: url(../img/ajax_search.gif)
}

.main-menu__search__popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
    background-color: #fff;
    border: 7px solid #d7d7d7;
    border-top: 0;
    display: none;
    z-index: 10000
}

.main-menu__search__failure {
    display: none;
    background-color: #fff;
    padding: 15px
}

.main-menu__search__failure p:nth-of-type(1) {
    margin-bottom: 10px
}

.main-menu__search__container {
    display: none;
    background-color: #fff;
    padding: 10px
}

.main-menu__search__popup__title {
    font-size: 13px;
    color: #488274;
    font-weight: 700;
    margin-top: 20px
}

.main-menu__search__popup__title span {
    font-size: 13px;
    color: #488274;
    font-weight: 400;
    margin-left: 3px
}

.main-menu__search__popup__title span a {
    font-size: 13px;
    font-weight: 400
}

.main-menu__search__popup__title:nth-of-type(1) {
    margin-top: 0
}

.main-menu__search__popup__link {
    font-size: 14px;
    margin-right: 4px
}

.main-menu__search__popup__product {
    font-size: 14px
}

.main-menu__search__popup__product__main {
    margin-right: 60px;
    line-height: 17px;
    margin-bottom: 5px
}

.main-menu__search__popup__product__price {
    float: right;
    font-size: 13px;
    width: 55px;
    display: block;
    overflow: hidden;
    text-align: right
}

.main-menu__search__popup__product__name {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-decoration: none
}

.main-menu__search__popup__product__name:hover {
    text-decoration: underline
}

.main-menu__search__popup__product__brand {
    color: #488274;
    text-decoration: none;
    font-size: 14px
}

.main-menu__search__popup__product__brand:hover {
    text-decoration: underline
}

.main-menu__search__popup__base-search {
    font-size: 15px;
    color: red!important
}

.main-menu__links {
    width: 620px
}

.main-menu__link,
.main-menu__link:active,
.main-menu__link:visited {
    color: #488274;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    padding: 10px 0;
    position: relative
}

.main-menu__link:hover {
    text-decoration: underline
}

.main-menu__catalog__root-item,
.main-menu__catalog__root-item:active,
.main-menu__catalog__root-item:hover,
.main-menu__catalog__root-item:visited {
    text-decoration: none;
    font-size: 16px;
    color: #488274
}

.main-menu__catalog {
    position: absolute;
    left: 0;
    top: 45px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10
}

.main-menu__catalog__root {
    width: 315px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    display: inline-block
}

.main-menu__catalog__root-item {
    padding: 5px 10px;
    display: block;
    overflow: hidden
}

.main-menu__catalog__root-item:hover {
    background-color: #f7f7f7
}

.main-menu__catalog__root-item:nth-of-type(1) {
    padding-top: 10px
}

.main-menu__catalog__root-item:nth-last-of-type(1) {
    padding-bottom: 10px
}

.main-menu__catalog__submenu {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    position: absolute;
    top: 0;
    left: 314px;
    width: 646px;
    box-sizing: border-box;
    display: table-row
}

.main-menu__catalog__subitems__column {
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: 32%
}

.main-menu__catalog__subitems__category,
.main-menu__catalog__subitems__category:active,
.main-menu__catalog__subitems__category:visited {
    display: block;
    font-size: 15px;
    color: #488274;
    text-decoration: underline
}

.main-menu__catalog__subitems__category:hover {
    text-decoration: none
}

.main-menu__catalog__subitems__block+.main-menu__catalog__subitems__block {
    margin-top: 15px
}

.main-menu__catalog__subitems__category+.main-menu__catalog__subitems__children {
    margin-top: 5px
}

.main-menu__catalog__subitems__children,
.main-menu__catalog__subitems__children:active,
.main-menu__catalog__subitems__children:visited {
    display: block;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
    color: #488274;
    text-decoration: none
}

.main-menu__catalog__subitems__children:hover {
    text-decoration: underline
}

.page-content {
    margin: 15px 0
}

.breadcrumbs {
    margin: 10px 0 5px
}

.breadcrumbs__arrow {
    font-size: 12px;
    color: #488274;
    cursor: default
}

.breadcrumbs__homepage,
.breadcrumbs__link,
.breadcrumbs__link:active,
.breadcrumbs__link:visited {
    font-size: 12px;
    text-decoration: none;
    color: #488274
}

.breadcrumbs__homepage {
    background-image: url(../img/breadcrumb_home.png);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    min-width: 12px;
    width: 12px
}

.filter-checkbox span,
.sidebar__filter__block__title span {
    background-repeat: no-repeat;
    background-position: left center
}

.breadcrumbs__link:hover {
    font-size: 12px;
    text-decoration: underline;
    color: #488274
}

.breadcrumbs__current {
    font-size: 12px;
    color: #488274;
    font-weight: 700;
    cursor: default
}

.filter-checkbox:hover,
.filter-checkbox:hover span,
.sidebar__filter__block__title span:hover,
.sidebar__filter__block__title:hover span {
    color: red
}

.sidebar__small-menu {
    border: 1px solid #efefef;
    padding: 10px
}

.sidebar__small-menu__ancestor {
    margin-left: 28px
}

.sidebar__small-menu__ancestors-level-1 {
    margin-left: 0!important
}

.sidebar__small-menu__ancestors-level-2 {
    margin-left: 7px!important
}

.sidebar__small-menu__ancestors-level-3 {
    margin-left: 21px!important
}

.sidebar__small-menu__ancestor-link {
    font-size: 14px
}

.sidebar__small-menu__current {
    display: block;
    margin-left: 7px;
    font-size: 14px
}

.sidebar__small-menu__child {
    display: block;
    margin-left: 14px;
    padding-bottom: 2px;
    font-size: 14px
}

.sidebar__filter__block {
    border: 1px solid #efefef;
    padding: 0
}

.sidebar__small-menu + .sidebar__filter .sidebar__filter__block
{
    border-top: 0;
}

.sidebar__filter__block:hover {
    background-color: #f7f7f7
}

.sidebar__filter__block__title {
    cursor: pointer;
    padding: 10px
}

.sidebar__filter__block__title span {
    font-size: 15px;
    cursor: pointer;
    padding-left: 25px;
    background-image: url(../img/filter__collapse.png)
}

.sidebar__filter__block__title.collapsed span {
    background-image: url(../img/filter__expand.png)
}

.sidebar__filter__block__content {
    padding: 0 10px 10px
}

.filter-checkbox {
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    display: table-row
}

.filter-checkbox input[type=checkbox] {
    display: none
}

.filter-checkbox .label {
    display: table-cell
}

.filter-checkbox span {
    display: inline-block;
    padding-left: 24px;
    background-image: url(../img/checkbox.png);
    cursor: pointer
}

.filter-checkbox input[type=checkbox]:checked+span {
    background-image: url(../img/checkbox__checked.png)
}

.filter-price-input {
    padding: 5px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    border: 1px solid #488274!important
}

.filter-price__delimiter {
    margin: 0 19px
}

.sidebar__filter {
    position: relative
}

.sidebar__filter__notice {
    position: absolute;
    background-color: #fff;
    border: 2px solid #595959;
    opacity: .9;
    padding: 10px;
    right: -176px;
    width: 175px;
    max-width: 175px;
    min-width: 175px;
    z-index: 1000
}

.sidebar__filter__button,
.sidebar__filter__text {
    font-size: 13px
}

.sidebar__filter__notice__close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    background-image: url(../img/close_16x16.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .7
}

.sidebar__filter__notice__close:hover {
    opacity: 1
}

.sidebar__filter__block__show-all {
    margin-left: 24px;
    font-size: 14px
}

.sidebar__filter__price-range {
    margin-top: 15px;
    margin-left: 6px;
    margin-right: 10px
}

.sidebar__filter__range-max,
.sidebar__filter__range-min {
    display: none
}

.grey-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #488274;
    background-color: #fff;
    text-align: center;
}

.sidebar__filter__bottom {
    border: 1px solid #efefef;
    border-top: 0;
    padding: 15px 10px;
    text-align: center;
    background-color: #f7f7f7
}

.grey-button:hover {
    background-color: #efefef
}

.products__paginator {
    margin: 20px 0
}

.products__paginator span {
    display: inline-block;
    margin-right: 3px;
    font-size: 14px
}

.products__paginator .page-link {
    color: #01b0f3;
    text-decoration: none;
    cursor: pointer
}

.products__paginator .page-link:hover {
    text-decoration: underline
}

.products__paginator__next {
    margin-right: 20px
}

.products__list.list .products__product {
    border: 1px solid #efefef;
    border-bottom: none;
    padding: 15px 20px 15px 15px;
    min-height: 150px;
    position: relative
}

.products__list.list .products__product:nth-last-of-type(1) {
    border-bottom: 1px solid #efefef
}

.products__list.list .products__product:hover {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7
}

.products__list.list .products__product:nth-last-of-type(1):hover {
    border-bottom: 1px solid #d7d7d7
}

.products__list.list .products__product:hover+.products__product {
    border-top: 1px solid #d7d7d7
}

.products__list.list .products__product__left {
    float: left;
    width: 120px;
    height: 120px;
    text-align: center
}

.products__list.list .products__product__left a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain
}

.products__list.list .products__product__right {
    margin-left: 130px
}

.products__list.list .products__product__bottom {
    position: absolute;
    left: 145px;
    right: 0;
    bottom: 10px
}

.products__list.list .products__product__price-block
{
    display: inline-block;
    border-radius: 4px;
}

.products__list.list .products__product__buy
{
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid #e85849;
    padding-right: 12px;
    margin-right: 4px;
    vertical-align: middle;
}

.products__list.list .products__product__buy span
{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #e85849;
    border-bottom: 1px dashed #e85849;
}

.products__list.list .products__product__buy:hover span
{
    border-bottom: 1px solid #e85849;
}

.products__list.list .products__product__price {
    display: inline-block;
    font-weight: 700;
    color: #e85849;
    font-size: 21px;
    vertical-align: middle;
}

.products__list.list .products__product__price span {
    color: #e85849;
    font-size: 19px;
    font-weight: 400
}

.products__list.list .products__product__stock {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px
}

.products__list.list .products__product__stock .instock {
    color: #5b8a66;
    font-size: 13px
}

.products__list.list .products__product__stock .order {
    color: #e85849;
    font-size: 13px
}


.products__list.list .products__product__name {
    margin-bottom: 3px;
    max-height: 42px;
    overflow: hidden
}

.products__list.list .products__product__name-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px
}

.products__list.list .products__product__name-link:hover {
    text-decoration: underline
}

.products__list.list .products__product__brand-link {
    color: #488274;
    text-decoration: none;
    font-size: 14px
}

.products__list.list .products__product__brand-link:hover {
    color: #488274;
    text-decoration: underline
}

.products__list.list .products__product__brandline {
    font-size: 13px;
    display: inline-block
}

.products__list.list .products__product__brandline-link {
    color: #488274;
    text-decoration: none;
    font-size: 13px
}

.products__list.list .products__product__brandline-link:hover {
    color: #488274;
    text-decoration: underline
}

.products__list.list .products__product__brandline-info {
    display: inline-block;
    width: 16px;
    opacity: .6
}

.products__list.list .products__product__brandline-info:hover {
    opacity: 1
}

.products__list.list .products__product__kinds {
    margin-bottom: 3px;
    font-size: 13px
}

.products__list.list .products__product__kind-link {
    font-size: 13px
}

.products__list.blocks .products__product__brandline-info,
.products__list.list .products__product__brandline-info {
    background-image: url(../img/line-info.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer
}

.products__list.blocks .products__product {
    border: 1px solid #dadada;
    padding: 20px;
    width: 300px;
    float: left;
    min-height: 480px;
    position: relative;
    margin-bottom: 30px
}

.products__list.blocks .products__product:hover {
    border-color: #c9c9c9
}

.products__list.blocks .products__product:hover .products__product__name-link {
    color: red
}

.products__list.blocks .products__product:nth-of-type(even) {
    margin-left: 30px
}

.products__list.blocks .products__product__left {
    height: 258px;
    text-align: center
}

.products__list.blocks .products__product__left a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain
}

.products__list.blocks .products__product__right {
    margin-top: 10px
}

.products__list.blocks .products__product__bottom {
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 20px
}


.products__list.blocks .products__product__price-block
{
    display: block;
    padding-left: 2px;
}

.products__list.blocks .products__product__buy
{
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid #e85849;
    padding-right: 12px;
    margin-right: 4px;
    vertical-align: middle;
}

.products__list.blocks .products__product__buy span
{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #e85849;
    border-bottom: 1px dashed #e85849;
}

.products__list.blocks .products__product__buy:hover span
{
    border-bottom: 1px solid #e85849;
}

.products__list.blocks .products__product__price {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #e85849;
    font-size: 21px
}

.products__list.blocks .products__product__price span {
    color: #e85849;
    font-size: 19px;
    font-weight: 400
}

.products__list.blocks .products__product__stock {
    display: inline-block;
    margin-left: 3px
}

.products__list.blocks .products__product__stock .instock {
    color: #5b8a66;
    font-size: 13px
}

.products__list.blocks .products__product__stock .order {
    color: #e85849;
    font-size: 13px
}

.products__list.blocks .products__product__name {
    margin-bottom: 5px;
    max-height: 65px;
    height: 65px;
    min-height: 65px;
    overflow: hidden
}

.products__list.blocks .products__product__name-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px
}

.products__list.blocks .products__product__name-link:hover {
    text-decoration: underline
}

.products__list.blocks .products__product__brand-link {
    color: #488274;
    text-decoration: none;
    font-size: 14px
}

.products__list.blocks .products__product__brand-link:hover {
    color: #488274;
    text-decoration: underline
}

.products__list.blocks .products__product__brandline {
    font-size: 13px;
    display: inline-block
}

.products__list.blocks .products__product__brandline-link {
    color: #488274;
    text-decoration: none;
    font-size: 13px
}

.products__list.blocks .products__product__brandline-link:hover {
    color: #488274;
    text-decoration: underline
}

.products__list.blocks .products__product__brandline-info {
    display: inline-block;
    width: 16px;
    opacity: .6
}

.products__list.blocks .products__product__brandline-info:hover {
    opacity: 1
}

.products__list.blocks .products__product__kinds {
    margin-bottom: 3px;
    font-size: 13px
}

.products__list.blocks .products__product__kind-link {
    font-size: 13px
}

.products__list.small-blocks .products__product__brandline-info {
    background-image: url(../img/line-info.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.products__list.small-blocks .products__product {
    border: none;
    padding: 0px;
    width: 150px;
    float: left;
    min-height: 380px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
}

.products__list.small-blocks .products__product:hover {
    border-color: #c9c9c9
}

.products__list.small-blocks .products__product:hover .products__product__name-link {
    color: red
}

.products__list.small-blocks .products__product:nth-of-type(4n+1) {
    margin-left: 0px
}

.products__list.small-blocks .products__product__left {
    height: 140px;
    text-align: center;
    margin: 4px;
}

.products__list.small-blocks .products__product__left a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain
}

.products__list.small-blocks .products__product__right {
    margin-top: 10px
}

.products__list.small-blocks .products__product__bottom {
    position: absolute;
    left: 0px;
    top: 285px;
    right: 20px
}

.products__list.small-blocks .products__product__price-block
{
    display: block;
    padding-left: 2px;
}

.products__list.small-blocks .products__product__buy
{
    display: inline-block;
    cursor: pointer;
    padding-right: 12px;
    margin-right: 4px;
    vertical-align: middle;
    position: absolute;
    top: 65px;
}

.products__list.small-blocks .products__product__buy span
{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #e85849;
    border-bottom: 1px dashed #e85849;
    content: 'Добавить в корзину';
}

.products__list.small-blocks .products__product__buy:hover span
{
    border-bottom: 1px solid #e85849;
}

.products__list.small-blocks .products__product__price {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #e85849;
    font-size: 21px
}

.products__list.small-blocks .products__product__price span {
    color: #e85849;
    font-size: 19px;
    font-weight: 400
}

.products__list.small-blocks .products__product__stock {
    display: inline-block;
    margin-left: 3px
}

.products__list.small-blocks .products__product__stock .instock {
    color: #5b8a66;
    font-size: 13px
}

.products__list.small-blocks .products__product__stock .order {
    color: #e85849;
    font-size: 13px
}

.products__list.small-blocks .products__product__name {
    margin-bottom: 5px;
    max-height: 81px;
    height: 81px;
    min-height: 81px;
    overflow: hidden
}

.products__list.small-blocks .products__product__name-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2em;
}

.products__list.small-blocks .products__product__name-link:hover {
    text-decoration: underline
}

.products__list.small-blocks .products__product__brand-link {
    color: #488274;
    text-decoration: none;
    font-size: 14px
}

.products__list.small-blocks .products__product__brand-link:hover {
    color: #488274;
    text-decoration: underline
}

.products__list.small-blocks .products__product__brandline {
    font-size: 13px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.products__list.small-blocks .products__product__brandline-link {
    color: #488274;
    text-decoration: none;
    font-size: 13px
}

.products__list.small-blocks .products__product__brandline-link:hover {
    color: #488274;
    text-decoration: underline
}

.products__list.small-blocks .products__product__brandline-info {
    display: inline-block;
    width: 16px;
    opacity: .6
}

.products__list.small-blocks .products__product__brandline-info:hover {
    opacity: 1
}

.products__list.small-blocks .products__product__kinds {
    display: none;
}

.products__list.small-blocks .products__product__kind-link {
    font-size: 13px
}

.products__sorting,
.products__sorting__sort {
    font-size: 14px;
    display: inline-block
}

.products__list__after {
    height: 1px;
    max-height: 1px;
    clear: left
}

.ruble {
    font-family: ruble
}

.h1,
.h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400
}

.products__top {
    margin-bottom: 10px;
    min-height: 21px;
}

.products__view {
    float: left;
    min-width: 85px;
}

.products__view span {
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .3;
    display: inline-block;
    width: 21px;
    height: 21px;
    cursor: pointer
}

.products__view span:hover {
    opacity: .5
}

.products__view span.active {
    opacity: .75
}

.products__view .products__view__blocks {
    background-image: url(../img/products_blocks.png)
}

.products__view .products__view__small-blocks {
    background-image: url(../img/products_small-blocks.png)
}

.products__view .products__view__lines {
    background-image: url(../img/products_lines.png)
}

.products__sorting {
    color: #488274;
    float: right;
}

.products__sorting__sort {
    margin-left: 10px;
    cursor: pointer;
    border-bottom: 1px dashed #01b0f3;
    color: #01b0f3;
    line-height: 17px
}

.page-overlay,
.products__sorting__sort.active {
    cursor: default
}

.products__sorting__sort:hover {
    border-bottom: 1px solid #01b0f3
}

.products__sorting__sort.active,
.products__sorting__sort.active:hover {
    border-bottom: 1px solid red;
    color: red
}

.products__sorting__sort span {
    display: inline-block;
    font-size: 12px;
    color: #01b0f3
}

.products__sorting__sort.active span {
    color: red
}

.h1 {
    font-size: 26px
}

.products__head.h1 {
    margin-bottom: 15px
}

.h2 {
    font-size: 22px
}

.products__footer.h2 {
    margin-top: 5px;
    margin-bottom: 20px
}

.text {
    font-size: 15px;
    color: #0e0e0e;
    line-height: 20px
}

.text strong {
    font-weight: 700
}

.modal-form__title,
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    font-weight: 400;
    font-family: 'Tenor Sans', sans-serif
}

.common-text a {
    color: #01b0f3;
    font-size: 15px
}

.text div,
.text p {
    padding: 0;
    margin: 10px 0;
    font-size: 15px;
    color: #0e0e0e;
    line-height: 22px
}

.text h2,
.text h4,
.text h5,
.text h6 {
    font-size: 22px
}

.text h3
{
    font-size: 18px;
}

.text h1 {
    font-size: 26px
}

.text ol,
.text ul {
    margin: 10px 0 10px 30px
}

.text ol li,
.text ul li {
    line-height: 20px;
    font-size: 15px;
    color: #0e0e0e;
    padding: 10px 0;
}

.text ul li {
    list-style-type: circle
}

.text ol li {
    list-style-type: decimal
}

.next-page {
    clear: both;
    line-height: 13px;
    text-align: right
}

.next-page-link {
    font-size: 13px
}

.catalog-index__head {
    margin-bottom: 15px
}

.catalog-index__column {
    box-sizing: border-box
}

.catalog-index__column:nth-of-type(1) {
    width: 33%;
    float: left
}

.catalog-index__column:nth-of-type(3) {
    margin-left: 35%;
    margin-right: 35%
}

.catalog-index__column:nth-of-type(2) {
    width: 33%;
    float: right
}

.catalog-index__category {
    margin-bottom: 25px
}

.catalog-index__category:hover .catalog-index__category__head-link {
    color: red
}

.catalog-index__category__head {
    margin-bottom: 10px
}

.catalog-index__category__head-link {
    font-size: 18px;
    color: #0e0e0e!important
}

.catalog-index__category__children {
    margin-bottom: 5px
}

.catalog-index__category__children-link {
    display: block;
    overflow: hidden;
    margin-bottom: 5px
}

.brands__block,
.modal-form__button {
    display: inline-block;
    vertical-align: top
}

.catalog-index__category__children-link:hover {
    color: red
}

.category-root__head {
    margin-bottom: 15px
}

.page-overlay {
    z-index: 10000;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden
}

.modal-form {
    position: absolute;
    width: 350px;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -125px;
    background: #fff;
    border-radius: 2px;
    padding: 20px
}

.modal-form__close,
.page_404__logo,
.product-block__product__image a {
    background-repeat: no-repeat;
    background-position: center center
}

.modal-form.call {
    margin-top: -129px
}

.modal-form.feedback {
    margin-top: -207px
}

.modal-form.alert {
    margin-top: -103px
}

.modal-form__close {
    cursor: pointer;
    background-image: url(../img/close_16x16.png);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 12px
}

.modal-form__close:hover {
    opacity: .6
}

.modal-form__title {
    font-size: 20px;
    color: #488274
}

.modal-form__note {
    font-size: 14px;
    color: #488274;
    line-height: 20px;
    margin: 10px 0;
}

.modal-form.alert .modal-form__note {
    font-size: 14px;
    color: #488274;
    line-height: 21px;
    margin: 10px 0 15px
}

.modal-form .modal-form__row:nth-of-type(1) {
    padding-top: 10px
}

.modal-form__row {
    margin-bottom: 20px
}

.modal-form__row input[type=text] {
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    color: #488274;
    padding: 6px;
    border: 1px solid #488274;
    border-radius: 2px
}

.modal-form__row textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 15px;
    color: #488274;
    padding: 6px;
    border: 1px solid #488274;
    border-radius: 2px
}

.modal-form__row input[type=text].required,
.modal-form__row textarea.required {
    border: 1px dotted #e85849
}

.modal-form__bottom {
    text-align: right;
    margin-bottom: 10px;
}

.modal-form__button {
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
}

.modal-form__button:hover {
    opacity: .75;
}

.modal-form__button.send {
    color: #fff;
    background-color: #e85849;
}

.modal-form__button.thankyou {
    color: #fff;
    background-color: #437b56;
}

.modal-form__button.continue-shopping {
    color: #fff;
    background-color: #777;
    margin-top: 10px;
}

.modal-form__button.go-to-cart {
    color: #fff;
    background-color: #437b56;
    text-decoration: none;
    margin-top: 10px;
}

.brands__section-name {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #488274;
    margin-bottom: 7px;
    margin-top: 15px;
}

.brands__section-name:nth-of-type(1) {
    margin-top: 0;
}

.brands__section,
.brands__section__row {
    margin-bottom: 10px;
}

.brands__block {
    width: 230px;
    max-width: 230px;
    box-sizing: border-box;
    padding: 10px
}

.brands__block:hover {
    box-shadow: 0 0 10px rgba(1, 1, 1, .2)
}

.brands__block-title {
    background-color: #d7d7d7;
    font-weight: 700;
    color: #333;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px
}

.brands__brand,
.brands__brand:active,
.brands__brand:visited {
    display: block;
    text-decoration: none;
    margin-bottom: 5px
}

.brand__main__column,
.category-root__category {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top
}

.brands__brand:hover {
    text-decoration: underline
}

.brand__main__column {
    width: 315px
}

.brand__logo {
    text-align: left;
    width: 300px!important;
}

.brand__note {
    padding-right: 10px;
}

.brand__main.with-logo .brand__note {
    padding-left: 10px
}

.brand__main.col-count-2 .brand__note,
.brand__main.col-count-2 .brand__statistics {
    width: 470px
}

.brand__main.with-logo.col-count-2 .brand__note,
.brand__main.with-logo.col-count-2 .brand__statistics {
    width: 650px!important
}

.brand__main.col-count-1 .brand__main__column,
.brand__statistics table {
    width: 100%
}

.brand__statistics__row {
    background-color: #fff;
    padding: 4px
}

.brand__statistics table tr:nth-of-type(even) {
    background-color: #ffecec
}

.brand__statistics table tr td {
    padding: 5px
}

.brand__statistics table tr td:nth-of-type(1) {
    width: 120px;
    font-size: 13px;
    font-weight: 700
}

.category-root__category {
    width: 235px;
    height: 186px;
    position: relative;
    border: 1px solid #fff;
    margin: 15px 0
}

.category-root__category__image {
    text-align: center;
    margin: 0 auto;
    height: 125px;
    display: block
}

.category-root__category__name {
    overflow: hidden;
    padding: 20px;
    text-align: center
}

.category-root__category__name-link {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none
}

.category-root__category__name-link:hover {
    text-decoration: underline
}

.category-root__category__name-link span {
    color: #488274;
    font-size: 13px;
    font-weight: 400
}

.category-root__category:hover {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7
}

.category-root__category:hover .category-root__category__footer {
    display: block;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    z-index: 100000
}

.category-root__category.with-child:hover .category-root__category__footer {
    top: 171px
}

.category-root__category.with-child:hover .category-root__category__name {
    text-align: left
}

.category-root__category__footer {
    background-color: #fff;
    display: none;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 185px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    z-index: 100000
}

.category-root__category__child {
    overflow: hidden;
    padding: 0 20px 5px 25px
}

.category-root__category__child-link {
    text-decoration: none
}

.category-root__category__child-link:hover {
    text-decoration: underline
}

.footer__menu-item,
.footer__menu-item:active,
.footer__menu-item:visited {
    text-decoration: none;
    color: #488274;
    font-size: 15px
}

.category-root__category__footer__stat {
    background-color: #d7d7d7;
    font-weight: 700;
    color: #333;
    font-size: 14px;
    padding: 5px 20px 4px
}

.category-root__category__child+.category-root__category__footer__stat {
    margin-top: 5px
}

.footer {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
    margin-top: 35px
}

.footer__column {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    box-sizing: border-box
}

.footer__column:nth-of-type(2) {
    padding: 0 20px
}

.footer__title {
    color: #505050;
    font-size: 14px
}

.footer__address p,
.footer__copyright {
    color: #505050;
    font-size: 13px
}

.footer__address p
{
    margin-top: 5px;
}

.footer__address {
    margin-top: 15px
}

.footer__address p:nth-of-type(1) {
    margin-top: 0
}

.footer__copyright {
    margin-top: 15px
}

.footer__menu-item {
    display: block;
    margin-bottom: 5px
}

.footer__menu-item:hover {
    text-decoration: underline;
    font-size: 15px;
    color: #488274
}

.footer__phone {
    margin-bottom: 10px
}

.footer__phone p {
    font-size: 20px
}

.footer-phone-link,
.footer-phone-link:active,
.footer-phone-link:visited
{
    font-size: 20px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #fff;
    transition: border-color 0.35s ease-out;
}

.footer-phone-link:hover
{
    text-decoration: none;
    border-bottom: 1px solid #333;
}

.footer__work-time {
    color: #505050;
    font-size: 14px
}

.footer__feedback {
    margin-top: 5px
}

.page_404__logo {
    background-image: url(../img/404.jpg);
    min-height: 200px;
    height: 200px;
}

.wait-page__logo {
    background-image: url(../img/wait_page_logo.jpg);
    min-height: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.page_404__big-title {
    text-align: center;
    color: #488274;
    font-size: 72px;
    font-weight: 700
}

.wait-page__small-title,
.page_404__small-title {
    text-align: center;
    color: #488274;
    font-size: 24px;
    font-weight: 700
}

.wait-page__text,
.page_404__text {
    margin: 50px 200px;
    text-align: justify
}

.wait-page__text p,
.page_404__text p {
    color: #488274;
    font-size: 17px;
    margin-bottom: 10px
}

.wait-page__text p strong,
.page_404__text p strong {
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.wait-page__text p span
{
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.product-block {
    margin-bottom: 20px
}

.page_404__text p a {
    font-size: 17px
}

.product__features table tr:nth-of-type(even),
.product__kinds table tr:nth-of-type(even) {
    background-color: #f3f3f3
}

.product-block__title {
    text-align: center;
    margin-bottom: 15px
}

.product-block__title__head {
    color: #505050;
    font-size: 18px;
    font-weight: 700
}

.product-block__title__caption {
    color: #505050;
    font-size: 18px;
    font-weight: 400
}

a.product-block__title__caption,
a.product-block__title__caption:active,
a.product-block__title__caption:visited {
    text-decoration: none;
    color: #505050
}

a.product-block__title__caption:hover {
    text-decoration: underline;
    color: #505050
}

.product-block__product {
    display: inline-block;
    vertical-align: top;
    height: 400px;
    width: 220px;
    border: 1px solid #dadada;
    margin-top: 20px;
    margin-right: 22px
}

.product-block__product:nth-of-type(1),
.product-block__product:nth-of-type(2),
.product-block__product:nth-of-type(3),
.product-block__product:nth-of-type(4) {
    margin-top: 0
}

.product-block__product:hover {
    border: 1px solid #c9c9c9
}

.product-block__product:nth-of-type(4n) {
    margin-right: 0
}

.product-block__product__image a {
    display: block;
    height: 220px
}

.product-block__product__name {
    padding: 0 12px;
    height: 83px;
    overflow: hidden
}

.product-block__product__name a,
.product-block__product__name a:active,
.product-block__product__name a:visited {
    text-decoration: none;
    font-size: 15px
}

.product-block__product__name a:hover {
    text-decoration: underline;
    color: red
}

.product-block__product:hover .product-block__product__name a {
    color: red
}

.product-block__product__price {
    margin: 20px 12px 0;
    padding: 5px 0;
    border-top: 1px solid #dadada;
    font-size: 18px;
    text-align: center;
    color: #488274
}

.product-block__product__price span {
    color: #488274;
    font-size: 16px
}

.product-block__product__brand {
    margin: 0 12px;
    padding: 5px 0;
    border-top: 1px solid #dadada;
    text-align: center
}

.product__main h1,
.product__main__brand {
    margin-bottom: 15px
}

.product-block__product__brand a,
.product-block__product__brand a:active,
.product-block__product__brand a:visited {
    color: #478174;
    font-size: 14px;
    text-decoration: none
}

.product-block__product__brand a:hover {
    color: #478174;
    text-decoration: underline
}

.product__main {
    float: right;
    width: 590px;
    box-sizing: border-box;
    padding-left: 15px
}

.product__gallery {
    float: left;
    width: 360px;
    box-sizing: border-box
}

.product__description,
.product__kinds {
    clear: both;
    padding-top: 20px
}

.product__gallery-main {
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    text-align: center;
    height: 360px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

.product__gallery-main,
.product__gallery-main:active,
.product__gallery-main:visited,
.product__gallery-main:hover
{
    text-decoration: none;
}

.product__gallery-photo
{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.product__gallery-previews
{
    text-align: center;
    position: relative;
    padding: 0 12px;
}

.product__gallery-preview
{
    display: inline-flex;
    margin: 4px;
    cursor: pointer;
    transition: all 0.25s ease-out;
    opacity: 0.6;
    width: 71px;
    height: 71px;
    box-sizing: content-box;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.product__gallery-preview_collapsed
{
    margin-left: 0;
    margin-right: 0;
    width: 0;
}

.product__gallery-preview-overlay
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    opacity: 0.2;
    display: none;
}

.product__gallery-preview img
{
    margin: auto;
}

.product__gallery-preview:hover
{
    opacity: 1;
}

.product__gallery-preview_active
{
    opacity: 0.9 !important;
}

.product__gallery-preview_active .product__gallery-preview-overlay
{
    display: block;
}

.product__gallery-prev,
.product__gallery-next
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12px;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.product__gallery-prev:hover,
.product__gallery-next:hover
{
    opacity: 0.75;
}

.product__gallery-button_disabled
{
    opacity: 0.3 !important;
}

.product__gallery-prev
{
    left: 0;
}

.product__gallery-next
{
    right: 0;
}

.product__gallery-prev span,
.product__gallery-next span
{
    height: 100%;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.product__gallery-prev span
{
    background-image: url(/static/img/gallery-prev.png);
}

.product__gallery-next span
{
    background-image: url(/static/img/gallery-next.png);
}

.product__main h1 {
    font-size: 24px
}

.product__main__brand span {
    color: #488274;
    font-size: 13px
}

.product__main__brand a,
.product__main__brand a:active,
.product__main__brand a:hover,
.product__main__brand a:visited {
    font-size: 15px
}

.product__main__price {
    margin-top: 25px;
    font-size: 42px;
    font-weight: 700;
}

.product__main__price .ruble {
    font-weight: 400;
    font-size: 40px;
    margin-left: 5px
}

.product__main__price .product__instock {
    color: #5b8a66
}

.product__main__price .product__order {
    color: #e85849
}


.product__main__price .product__buy,
.product__main__price .product__quick-buy
{
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #e85849;
    color: #e85849;
    background-color: #f8f8f8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product__main__price .product__buy
{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.product__main__price .product__quick-buy
{
    border-radius: 0 2px 2px 0;
}

.product__buy:hover
{
    color: #fff;
    background-color: #e85849;
}

.product__quick-buy:hover
{
    color: #fff;
    background-color: #e85849;
}


.product__main__line {
    margin-bottom: 15px
}

.product__main__line span {
    color: #488274;
    font-size: 13px
}

.product h2 {
    font-size: 18px!important;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 10px
}

.product__features table {
    width: 100%
}

.product__features table td {
    padding: 6px
}

.product__features table tr td:nth-of-type(1) {
    width: 150px;
    font-size: 13px
}

.product__features table tr td:nth-of-type(2) {
    font-size: 14px;
    font-weight: 700
}

.product__features.narrow,
.product__note.narrow {
    display: inline-block;
    vertical-align: top;
    width: 470px;
    box-sizing: border-box
}

.product__note.narrow {
    padding-right: 20px
}

.product__features.narrow {
    padding-left: 20px
}

.product__kinds table {
    width: 100%
}

.product__kinds table td {
    padding: 6px;
    vertical-align: middle;
    box-sizing: border-box
}

.product__kinds table td.photo {
    width: 56px
}

.product__kinds table td.photo div {
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    text-align: center;
    background-color: #fff;
    width: 50px;
    height: 50px
}

.product__kinds table td.price {
    width: 100px;
    font-weight: 700
}

.product__kinds table td.price .ruble {
    font-weight: 400
}

.product__kinds table td.instock {
    width: 100px
}

.product__kinds table td.instock .product__instock {
    color: #5b8a66;
    font-size: 13px
}

.product__kinds table td.instock .product__order {
    color: #e85849;
    font-size: 13px
}

.product__simular
{
    margin-top: 25px;
}

.brand-block,
.category-block {
    margin-bottom: 20px
}

.brand-block.with-logo
{
    text-align: center;
}

.brand-block__title,
.category-block__title {
    color: #505050;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px
}

.brand-block.with-logo .brand-block__title
{
    margin-bottom: 25px;
}

.brand-block__title a,
.brand-block__title a:active,
.brand-block__title a:hover,
.brand-block__title a:visited,
.category-block__title a,
.category-block__title a:active,
.category-block__title a:hover,
.category-block__title a:visited {
    font-weight: 400;
    font-size: 18px
}

.category-block__column {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 19%;
    padding-right: 20px
}

.category-block__column p {
    overflow: hidden
}

.category-block__column p a {
    color: #478174;
    font-size: 14px
}

.brand-block-link {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px
}

.brand-block-link.with-logo
{
    margin: 0 20px 20px 20px;
    transition: opacity 0.25s ease-out;
    opacity: 0.7;
    text-decoration: none;
}

.brand-block-link.with-logo:hover
{
    opacity: 1;
    text-decoration: none;
}

.cart__empty-cart
{
    margin-bottom: 25px;
}

.cart__empty-cart p
{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 21px;
}

.cart__empty-cart p a
{
    font-size: 16px;
}

.cart__head.h1
{
    margin-bottom: 25px;
}

.cart__products table
{
    width: 100%;
}

.cart__products table td
{
    padding: 6px;
    vertical-align: middle;
    border-bottom: 1px solid #d7d7d7;
    text-align: left;
    box-sizing: border-box;
}

.cart__products table tr:nth-of-type(1) td
{
    border-top: 1px solid #d7d7d7;
}

.cart__products table tr:nth-last-of-type(1) td
{
    border-bottom: 0;
}

.cart__products table th
{
    padding: 6px;
    vertical-align: middle;
    text-align: left;
    color: #488274;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 12px;
}

.cart__products table td.image
{
    width: 72px;
    text-align: center;
}

.cart__products table td.image img
{
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.cart__products table td.remove
{
    text-align: right;
    width: 72px;
}

.cart__products table td.remove span
{
    font-size: 14px;
    color: #e85849;
    display: inline-block;
    border-bottom: 1px dashed #e85849;
    cursor: pointer;
}

.cart__products table td.remove span:hover
{
    border-bottom: 1px solid #e85849;
}

.cart__products table td.total,
.cart__products table td.price
{
    width: 116px;
    text-align: right;
    padding-right: 15px;
}

.cart__products table td.total.sum
{
    font-weight: bold;
    font-size: 16px;
}

.cart__products table th.total,
.cart__products table th.price
{
    text-align: right;
    padding-right: 15px;
}

.cart__products table td.quantity
{
    width: 150px;
    text-align: center;
}

.cart__products table th.quantity
{
    text-align: center;
}

.quantity-input
{
    display: inline-block;
}

.quantity-input__minus,
.quantity-input__plus
{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    font-weight: bold;
    font-size: 21px;
    padding-top: 2px;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f9f9f9;
}

.quantity-input__minus
{
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.quantity-input__plus
{
    border-left: 0;
    border-radius: 0 4px 4px 0;
}

.quantity-input__minus:hover,
.quantity-input__plus:hover
{
    opacity: 1.0;
}

.quantity-input__input
{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    padding: 6px;
    width: 50px;
    text-align: right;
    min-height: 35px;
    max-height: 35px;
    height: 35px;
}

.cart__clear
{
    margin: 25px 0;
    text-align: right;
}

.cart__clear span
{
    font-size: 15px;
    color: #e85849;
    display: inline-block;
    border-bottom: 1px dashed #e85849;
    cursor: pointer;
}

.cart__clear span:hover
{
    border-bottom: 1px solid #e85849;
}

.cart__form__row
{
    margin-bottom: 25px;
}

.cart__form__row input[type="text"],
.cart__form__row input[type="email"]
{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 12px;
    box-shadow: 0 0 10px rgba(1,1,1,0.2);
    border-radius: 3px;
}

.cart__form__row textarea
{
    padding: 8px 12px;
    resize: none;
    box-shadow: 0 0 10px rgba(1,1,1,0.2);
    border-radius: 3px;
}

.cart__form__row span
{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #488274;
}

.social-outer
{
    margin: 10px 0;
}

.search__form-container
{
    margin: 30px 0;
}

.search__input
{
    vertical-align: middle;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(1,1,1,0.2);
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.search__paginator
{
    margin-top: 20px;
    text-align: center;
}

.search__paginator-page,
.search__paginator-page:active,
.search__paginator-page:visited
{
    text-decoration: none;
    font-size: 18px;
    transition: text-decoration 0.15s ease-out;
    cursor: pointer;
}

.search__paginator-page:hover
{
    text-decoration: underline;
}

.search__paginator-page_current,
.search__paginator-page_current:hover
{
    color: red;
}

.cart__submit
{
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #e85849;
    color: #e85849;
    background-color: #f8f8f8;
    border-radius: 2px;
}

.cart__submit:hover
{
    color: #fff;
    background-color: #e85849;
}

.cart__form input.required
{
    border: 3px solid red;
}

.order-success
{
    text-align: center;
    padding: 40px 0;
}

.order-success__head
{
    display: inline-block;
    padding: 0 90px;
    background-image: url(/static/img/smile_cat.png);
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 64px;
    font-size: 36px;
    margin-bottom: 6px;
}

.order-success__big
{
    line-height: 48px;
    font-size: 26px;
    margin-bottom: 20px;
}

.order-success__medium
{
    font-size: 20px;
    margin-bottom: 20px;
}

.order-success__medium a
{
    font-size: 20px;
}

.order-success__small
{
    font-size: 16px;
}

.order-success__small a
{
    font-size: 16px;
}

.catalog-index__stat
{
    margin: 10px 0;
}

.contacts__map-wrapper
{
    min-height: 400px;
    background-image: url(/static/img/map-preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__address-choice
{
    display: inline-block;
    color: #01b0f3;
    border-bottom: 1px dashed #01b0f3;
    cursor: pointer;
    font-size: 20px;
    margin-right: 25px;
}

.contacts__address-choice:hover
{
    border-bottom: 1px solid #01b0f3;
}

.contacts__address-choice_active,
.contacts__address-choice_active:hover
{
    border-bottom: 1px solid red;
    color: red;
}

.contacts__address-choices
{
    padding: 0px 0 0px 0 !important;
}


.contacts__address-block
{
    display: none;
}

.contacts__address-block_active
{
    display: block;
}

.page_contacts p
{
    font-size: 17px;
    line-height: 120%;
}

.page_contacts h2
{
    margin-top: 25px;
    margin-bottom: 15px;
}

.page_contacts h3
{
    color: #555753;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}

.page_contacts .call-link,
.contacts__phone a,
.contacts__email a
{
    font-size: 16px;
}

.homepage__banner
{
    margin: 20px 0;
}

.homepage__banner img
{
    width: 100%;
}