{% extends "base.html" %}
{% load helpers %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">Контакты</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article class="page page_contacts text">
            <h1 class="h1">
                Контакты
            </h1>

            <h2>Телефоны</h2>
            {% for p in phones %}
                <p class="contacts__phone">
                    <a href="tel:{{ p.phone|get_phone }}">{{ p.phone }}</a>
                    {% if p.for_order or p.for_consultation or p.note %}
                        &mdash;

                        {% if p.for_order %}для заказов{% if p.for_consultation %}; {% endif %}{% endif %}
                        {% if p.for_consultation %}для консультаций{% if p.note %}; {% endif %}{% endif %}
                        {% if p.note %}{{ p.note }}.{% endif %}
                    {% endif %}
                </p>
            {% endfor %}

            <p>С 09:00 до 21:00 без перерыва и выходных.</p>

            <h2 id="our-shops">Адреса магазинов</h2>

            <div class="contacts__address-choices">
                {% for adr in addresses %}
                    <button class="contacts__address-choice {% if forloop.first %}contacts__address-choice_active{% endif %}" data-pk="{{ adr.pk }}">{{ adr.city }}</button>
                {% endfor %}
            </div>

            {% for adr in addresses %}
                <section class="contacts__address-block {% if forloop.first %}contacts__address-block_active{% endif %} contacts__address-block_{{ adr.pk }}">
                    <h3>Адрес</h3>
                    <p class="contacts__address">
                        {{ adr.address }}
                    </p>

                    <h3>Режим работы</h3>

                    <p class="contacts__work-time">
                        {{ adr.opening_hours_verbose }}
                    </p>

                    <h3>Как добраться</h3>
                    <div class="contacts__map-wrapper">
                        {{ adr.map_code|safe }}
                    </div>
                </section>
            {% endfor %}

            <h2>Электронная почта</h2>

            <p class="contacts__email">
                <a href="mailto:sale@belorekb.ru">sale@belorekb.ru</a> &mdash; для заказов.
            </p>

            <p class="contacts__email">
                <a href="mailto:info@belorekb.ru">info@belorekb.ru</a> &mdash; для любых вопросов.
            </p>

            <p class="contacts__email">
                <a href="mailto:dev@belorekb.ru">dev@belorekb.ru</a> &mdash; для вопросов связанных с работой сайта.
            </p>

            <p>
                Или воспользуйтесь <span class="call-link dashed-link js-show-ajax-form" data-form-name="feedback">формой обратной связи</span>.
            </p>
        </article>
    </div>
{% endblock %}
