<footer class="footer">
    <div class="container">
        <div class="footer__column">
            <div class="footer__title">Интернет-магазин косметики и парфюмерии Belorekb</div>

            <div class="footer__address">
                {% for a in address %}
                    <p>{{ a.address }}</p>
                {% endfor %}
            </div>

            <div class="footer__copyright">
                &copy; {% if current_year != 2016 %}2016&nbsp;&mdash;&nbsp;{%endif %}{{ current_year }}. Все права защищены.
                <br>
                Информация и предложения, опубликованные на сайте, носят информационный характер и ни при каких условиях не являются публичной офертой.
            </div>

            <div class="social-outer">
                <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,gplus,twitter"></div>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__phone">
                {% for phone in phones %}
                    <p>
                        <a class="footer-phone-link" href="tel:{{ phone.clean_phone }}">
                            {{ phone.phone }}
                        </a>
                    </p>
                {% endfor %}
            </div>
            <div class="footer__work-time">
                Пн &mdash; Вс с 10:00 до 20:00
            </div>
            <div class="footer__feedback">
                <span href="javascript:void(0);" class="call-link dashed-link js-show-ajax-form" data-form-name="feedback">Форма обратной связи</span>
            </div>
        </div>
        <div class="footer__column">
            {% for menu in footer_menu %}
                <a class="footer__menu-item" href="{{ menu.href }}">{{ menu.name }}</a>
            {% endfor %}
        </div>
    </div>
</footer>
{% for script in custom_scripts %}
    {{ script.code|safe }}
{% endfor %}