{% load core %}

<header class="head">
    <div class="container">
        <nav class="top-menu">
            {% for menu in head_menu %}
                <a href="{{ menu.href }}">{{ menu.name }}</a>
            {% endfor %}
        </nav>
    </div>

    <div class="container">
        <div class="head-info">
            <div class="head-info__logo">
                <a href="/">
                    <div></div>
                </a>
                <span class="head-info__name caption">Магазин косметики</span>
            </div>

            <div class="head-info__phones">
                {% for phone in phones %}
                    <p class="caption">
                        <a class="head-phone-link" href="tel:{{ phone.clean_phone }}">
                            {{ phone.phone }}
                        </a>
                    </p>
                {% endfor %}
            </div>

            <div class="head-info__work-time">
                <p>Пн &ndash; Вс с 10:00 до 20:00</p>
                <p><span class="call-link dashed-link js-show-ajax-form" data-form-name="call">обратный звонок</span></p>
            </div>

            <div class="head-info__cart js-head-cart">
                <div class="head-info__cart__inner">
                    <a href="javascript:void(0)" class="head-info__cart__link js-head-info__cart__link"></a>
                    <div class="head-info__cart__price js-head-cart__price hide"></div>
                    <div class="head-info__cart__count js-head-cart__count hide"></div>
                    <div class="head-info__cart__status js-head-cart__status hide"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-menu">
        <div class="main-menu__inner container">
            <nav class="main-menu__links inline">
                <a class="main-menu__link inline js-catalog-menu" href="/catalog/">
                    Каталог
                </a>
                <a class="main-menu__link inline" href="/catalog/brands/">
                    Бренды
                </a>
                <a class="main-menu__link inline" href="/how-buy/">
                    Как купить
                </a>
                <a class="main-menu__link inline" href="/contacts/">
                    Контакты
                </a>
            </nav>

            <nav class="main-menu__catalog js-main-menu__catalog hide">
                <div class="main-menu__catalog__root js-main-menu__catalog__root">
                    {% for root in catalog_menu %}
                        <a class="main-menu__catalog__root-item js-main-menu__catalog__root-item" href="{{ root.url }}" data-submenu="{{ root.pk }}">
                            {% if root.menu_name %}{{ root.menu_name }}{% else %}{{ root.name }}{% endif %}
                        </a>
                    {% endfor %}
                </div>
                {% for root in catalog_menu %}
                    {% if root.has_children %}
                        <div class="main-menu__catalog__submenu-outer">
                            <div class="main-menu__catalog__submenu js-main-menu__catalog__submenu js-main-menu__catalog__submenu-{{ root.pk }} strong-hide" data-this="{{ root.pk }}">
                                {% for column in root.columns %}
                                    <div class="main-menu__catalog__subitems__column">
                                        {% for category in column %}
                                            <div class="main-menu__catalog__subitems__block">
                                                <a class="main-menu__catalog__subitems__category" href="{{ category.url }}" title="{{ category.name }}">
                                                    {% if category.menu_name %}{{ category.menu_name }}{% else %}{{ category.name }}{% endif %}
                                                </a>

                                                {% for child in category.children %}
                                                    <a class="main-menu__catalog__subitems__children" href="{{ child.url }}" title="{{ child.name }}">
                                                        {% if child.menu_name %}{{ child.menu_name }}{% else %}{{ child.name }}{% endif %}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </nav>

            <div class="main-menu__search js-main-menu__search">
                <input class="js-popup-search-input menu-search-input" type="text" placeholder="Поиск по каталогу">
                <a class="main-menu__search__status js-popup-search-status" href="/catalog/search/" title="Поиск по сайту"></a>
                <div class="main-menu__search__popup js-search-popup js-window">
                    <div class="main-menu__search__container js-search-popup__container">

                    </div>
                    <div class="main-menu__search__failure js-search-popup__failure">
                        <p>К сожалению, по Вашему запросу ничего не найдено :(</p>
                        <p>Попробуйте изменить запрос или воспользуйтесь навигацией по каталогу.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>