{% extends "base.html" %}
{% load helpers %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">{{ page.name }}</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <article class="page text">
            <h1 class="catalog-index__head h1">
                {{ page.name }}
            </h1>

            {{ page.content|safe }}
        </article>
    </div>
{% endblock %}
