{% if whois == "call" %}
    <div class="modal-form call js-modal-form" data-whois="call">
        <div class="modal-form__close js-modal-form__close"></div>
        <div class="modal-form__title">Заказ звонка</div>
        <div class="modal-form__note">Оставьте Ваш номер телефона и мы перезвоним!</div>

        <form action="{% url "forms:form" whois %}" method="POST" class="js-ajax-form">
            {% csrf_token %}

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-name js-required" name="{{ form.name.name }}" placeholder="Пожалуйста, представьтесь*">
            </div>

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-phone js-required" name="{{ form.phone.name }}" placeholder="Ваш телефон*">
            </div>
            <div class="modal-form__bottom">
                <span class="modal-form__button send js-modal-form__send-button">Жду звонка</span>
            </div>
        </form>
    </div>
{% elif whois == "quick-order" %}
    <div class="modal-form call js-modal-form" data-whois="call">
        <div class="modal-form__close js-modal-form__close"></div>
        <div class="modal-form__title">Быстрый заказ</div>
        <div class="modal-form__note">Оставьте Ваш номер телефона и мы перезвоним для уточнения деталей заказа.</div>

        <form action="/cart/save/" method="POST" class="js-ajax-form">
            {% csrf_token %}

            <input type="hidden" name="quick-order" value="yes">

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-phone js-required" name="{{ form.phone.name }}" placeholder="Телефон — обязательное поле">
            </div>

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-name" name="{{ form.name.name }}" placeholder="Как к вам обращаться?">
            </div>

            <div class="modal-form__bottom">
                <span class="modal-form__button send js-modal-form__send-button js-modal-form__submit">Оформить заказ</span>
            </div>
        </form>
    </div>
{% elif whois == "feedback" %}
    <div class="modal-form feedback js-modal-form" data-whois="feedback">
        <div class="modal-form__close js-modal-form__close"></div>
        <div class="modal-form__title">Форма обратной связи</div>

        <form action="{% url "forms:form" whois %}" method="POST" class="js-ajax-form">
            {% csrf_token %}

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-name js-required" name="{{ form.name.name }}" placeholder="Пожалуйста, представьтесь*">
            </div>

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-email js-required" name="{{ form.phone.email }}" placeholder="Ваш email (для ответа)*">
            </div>

            <div class="modal-form__row">
                <input type="text" class="modal-form__input js-phone" name="{{ form.phone.name }}" placeholder="Ваш телефон (по желанию)">
            </div>

            <div class="modal-form__row">
                <textarea class="modal-form__textarea js-message js-required" name="{{ form.message.name }}" placeholder="Напишите вопрос*"></textarea>
            </div>

            <div class="modal-form__bottom">
                <span class="modal-form__button send js-modal-form__send-button">Отправить</span>
            </div>
        </form>
    </div>
{% endif %}
