<div>
    Здравствуйте.
</div>

<div style="margin-top:8px;">
    Только что, {{ form.created_at|date:"d.m.Y" }} в {{ form.created_at|date:"H:i" }}, на Вашем сайте была заполнена форма "{{ form.form_name }}".
</div>

<div style="margin-top:16px;">
    Данные формы:
</div>

<div style="margin-top:8px;">
    <table align="left" valign="top" cellpadding="4" cellspacing="0" style="border-collapse:collapse; clear:both;">
        {% if form.name %}
            <tr>
                <td valign="top">Имя:</td>
                <td valign="top">{{ form.name }}</td>
            </tr>
        {% endif %}

        {% if form.phone %}
            <tr>
                <td valign="top">Телефон:</td>
                <td valign="top">{{ form.phone }}</td>
            </tr>
        {% endif %}

        {% if form.email %}
            <tr>
                <td valign="top">Эл. почта:</td>
                <td valign="top"><a href="mailto:{{ form.email|lower }}">{{ form.email|lower }}</a></td>
            </tr>
        {% endif %}

        {% if form.message %}
            <tr>
                <td valign="top">Сообщение:</td>
                <td valign="top">
                    <div style="font-style: italic; color:#8b8b8b;">{{ form.message }}</div>
                </td>
            </tr>
        {% endif %}
    </table>
</div>