{% load mptt_tags %}

<div class="catalog-filter-icon" title="Выбор товаров для списка"></div>

<div class="catalog-filter" style="display: none;">
    <form action="/catalog/admin-extra/get-products/" method="POST" class="filter-form">
        <input type="hidden" class="catalog-filter__page-no" name="page" value="{{ filter_form.page }}">

        <div class="catalog-filter__name">
            <input type="text" name="name" placeholder="Часть имени или кода товара" value="{{ filter_form.init_name }}">
        </div>

        <div class="catalog-filter__brand">
            <select class="catalog-filter__brand-select" multiple data-placeholder="Бренды" name="bid">
                {% for b in filter_form.brands %}
                    <option value="{{ b.pk }}" {% if b.pk in filter_form.init_brands %}selected{% endif %}>{{ b.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="catalog-filter__line">
            <select class="catalog-filter__line-select" multiple data-placeholder="Продуктовые линии" name="lid">
                {% for l in filter_form.lines %}
                    <option value="{{ l.pk }}" {% if l.pk in filter_form.init_lines %}selected{% endif %}>{{ l.name }}</option>
                {% endfor %}
            </select>
        </div>

        {% if filter_form.categories %}
            <div class="catalog-filter__category">
                <ul class='catalog-filter__category-tree'>
                    {% recursetree filter_form.categories %}
                        <li>
                            <label>
                                <input name="cid" type="checkbox" value="{{ node.pk }}" {% if node.pk in filter_form.init_categories %}checked{% endif %}>
                                {{ node.name }}
                            </label>
                            {% if not node.is_leaf_node %}
                                <ul>
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
        {% endif %}

        <div class="catalog-filter__buttons">
            <label>
                <span>Размер страницы</span>
                <input type="number" min="0" max="2000" value="25" name="page-size">
            </label>

            <span class="catalog-filter__close">Закрыть</span>
            <span class="catalog-filter__submit">Применить</span>
        </div>
    </form>
</div>