{% include 'admin/catalog_extra/filter.html' %}

<div class="catalog-extra-paginator"></div>

<div class="catalog-extra-show-fields catalog-extra-panel">
    Отображать: &nbsp;&nbsp;

    <label>
        <input type="checkbox" class="js-show-basic">
        базовые
    </label>

    <label>
        <input type="checkbox" class="js-show-images">
        изображения
    </label>

    <label>
        <input type="checkbox" class="js-show-notes" checked>
        описания
    </label>

    <label>
        <input type="checkbox" class="js-show-features">
        характеристики
    </label>
</div>

<table class="catalog-extra-actions">
    <tr>
        <td>
            <select class="catalog-extra-action">
                <option value="" selected>Действие не выбрано</option>
                <option value="add-feature">Добавить характеристику</option>
                <option value="remove">Удалить отмеченные товары из выборки</option>
                <option value="find-n-replace">Замена текста в отмеченных товарах</option>
                <option value="set-feature">Установка значения хар-ки отмеченных товаров</option>
            </select>
        </td>

        <td class="catalog-extra-actions__cell-container hide">
            <select class="catalog-extra-action-cell">
                <option value="" selected>Столбец не выбран</option>
                <option value="js-name-data">Название</option>
                <option value="js-price-data">Цена</option>
                <option value="js-note-data">Описание</option>
            </select>
        </td>

        <td class="catalog-extra-actions__exist-feature-container hide">
            <select class="catalog-extra-action-exist-feature">
                <option value="" selected>Хар-ка не выбрана</option>
            </select>
        </td>

        <td class="catalog-extra-actions__all-feature-container hide">
            <select class="catalog-extra-action-all-feature">
                <option value="" selected>Хар-ка не выбрана</option>
            </select>
        </td>

        <td class="catalog-extra-actions__feature-value-container hide">
            <textarea class="catalog-extra-action-feature-value" placeholder="Значение характеристики"></textarea>
        </td>

        <td class="catalog-extra-actions__replace-container hide">
            <input type="text" class="js-replace-what" placeholder="Заменяемый текст">
            <input type="text" class="js-replace-with" placeholder="Замещающий текст">
        </td>

        <td class="catalog-extra-actions__exec-container hide">
            <button class="catalog-extra-actions__exec">Выполнить</button>
        </td>
    </tr>
</table>

<div class="hide">
    <table>
        <tr>
            <th class="catalog-extra-products__brand-head js-brand-column js-source">Бренд</th>
            <th class="catalog-extra-products__category-head js-category-column js-source">Категория</th>
            <th class="catalog-extra-products__line-head js-line-column js-source">Линия</th>
            <th class="catalog-extra-products__price-head js-price-column js-source">Цена</th>

            <th class="catalog-extra-products__note-head js-note-column js-source">Описание</th>
            <th class="catalog-extra-products__image-head js-photo-column js-source">Фото</th>
            <th class="catalog-extra-products__feature-head js-feature-column js-source"></th>
            <th class="catalog-extra-products__name-head js-source">Название</th>
        </tr>

        <tr>
            <td class="catalog-extra-products__note js-note-column js-source"><div class="catalog-extra-products__note-inner js-note-data js-source" contenteditable="true"></div></td>
            <td class="catalog-extra-products__image js-photo-column js-source">
                <label>
                    <input type="checkbox" class="js-set-main-photo">
                    Главное фото
                </label>
                <img src="">
                <p class="catalog-extra-products__image-size"></p>
            </td>
            <td class="catalog-extra-products__feature js-feature-column js-source" contenteditable="true"></td>
            <td class="catalog-extra-products__name js-name-data js-source" contenteditable="true"></td>
            <td class="catalog-extra-products__price js-price-column js-price-data js-source" contenteditable="true"></td>
            <td class="catalog-extra-products__category js-category-column js-category-data js-source">
                <select>
                    <option val="">Нет категории</option>
                </select>
            </td>
            <td class="catalog-extra-products__brand js-brand-column js-brand-data js-source">
                <select>
                    <option val="">Нет бренда</option>
                </select>
            </td>
            <td class="catalog-extra-products__line js-line-column js-line-data js-source">
                <select>
                    <option val="">Нет линии</option>
                </select>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td class="catalog-extra-products__image-uploader-container js-photo-column js-source">
                <strong>Загрузчик</strong>
                <div class="catalog-extra-products__uploader-container-inner"></div>
                <span class="catalog-extra-products__add-more-uploader">Добавить еще один файл</span>
            </td>

            <td>
                <p class="catalog-extra-products__image-uploader-outer js-source">
                    <input type="file" accept="image/*" class="catalog-extra-products__uploader">
                </p>
            </td>
        </tr>
    </table>

    <table>
        <tr class="catalog-extra-products__product-row js-source">
            <td class="catalog-extra-products__checkbox">
                <input type="checkbox" class="catalog-extra-products__select-this">
            </td>
        </tr>
    </table>

    <table class="catalog-extra-products js-source">
        <tr class="catalog-extra-products__head-row">
            <td class="catalog-extra-products__checkbox">
                <input type="checkbox" class="catalog-extra-products__select-all">
            </td>
        </tr>
    </table>
</div>

<div class="catalog-extra-product-container"></div>

<div class="catalog-extra-paginator"></div>

<form id="save-form" class="save-form hide" method="post" action="/catalog/admin-extra/save-products/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" class="save-form__new-images" name="new-images">
    <input type="hidden" class="save-form__names" name="names">
    <input type="hidden" class="save-form__image-actions" name="image-actions">
    <input type="hidden" class="save-form__features" name="features">
    <input type="hidden" class="save-form__notes" name="notes">
    <input type="hidden" class="save-form__prices" name="prices">
    <input type="hidden" class="save-form__categories" name="categories">
    <input type="hidden" class="save-form__brands" name="brands">
    <input type="hidden" class="save-form__lines" name="lines">
</form>

<div class="catalog-extra__control">
    <span class="catalog-extra__save-button">Сохранить состояние</span>
</div>

