{% load helpers thumbnails %}

<div class="container">
    {% if banner %}
        <div class="homepage__banner">
            {% if banner.url %}
                <a href="{{ banner.url }}">
            {% endif %}
                <img src="{% thumbnail banner.image size='960*' %}" alt="{% if banner.title %}{{ banner.title }}{% endif %}" {% if banner.title %}title="{{ banner.title }}"{% endif %}>
            {% if banner.url %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    {% for entry in entries %}
        {% if entry.whois == 'products' %}
            {% if entry.cards %}
                <div class="product-block">
                    <div class="product-block__title">
                        <span class="product-block__title__head">{{ entry.head_name }}</span>
                        {% if entry.caption %}
                            &bull;

                            {% if entry.caption_url %}
                                <a href="{{ entry.caption_url }}" class="product-block__title__caption">
                            {% else %}
                                <span class="product-block__title__caption">
                            {% endif %}
                            {{ entry.caption }}
                            {% if entry.caption_url %}
                                </a>
                            {% else %}
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="product-block__products">
                        {% include "catalog/products__list__simple.html" with products=entry.cards %}
                    </div>
                </div>
            {% endif %}
        {% elif entry.whois == 'categories' %}
            <div class="category-block">
                {% if entry.caption %} <div class="category-block__title">{{ entry.caption|safe }}</div>{% endif %}
                {% for column in entry.cards %}
                    <div class="category-block__column">
                        {% for category in column %}
                            <p><a class="reverse-link" href="{{ category.url }}">{{ category.name }}</a></p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% elif entry.whois == 'brands' %}
            <div class="brand-block {% if entry.icon %}with-logo{% endif %}">
                {% if entry.caption %}
                    <div class="brand-block__title">
                        {{ entry.caption|safe }}
                    </div>
                {% endif %}
                {% for brand in entry.cards %}
                    <a class="reverse-link brand-block-link {% if entry.icon %}with-logo{% endif %}" href="{{ brand.url }}" title="{{ brand.name }}">
                        {% if entry.icon %}
                            <img class="brand-block-logo" src="{% thumbnail brand.logo size='*40' %}" alt="{{ brand.name }}">
                        {% else %}
                            {{ brand.name }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if text %}
        <div class="homepage-text text">
            {{ text|safe }}
        </div>
    {% endif %}
</div>
