{% load helpers %}
{% if brands %}
    <div class="main-menu__search__popup__title">
        Найденные бренды
    </div>

    {% for b in brands %}
        <a class="main-menu__search__popup__link reverse-link" href="{{ b.url }}">{{ b.name }}</a>
    {% endfor %}
{% endif %}

{% if categories %}
    <div class="main-menu__search__popup__title">
        Найденные категории
    </div>
    {% for c in categories %}
        <a class="main-menu__search__popup__link reverse-link" href="{{ c.url }}">{{ c.name }}</a>
    {% endfor %}
{% endif %}

{% if products %}
    <div class="main-menu__search__popup__title">
        Найденные товары
        {% if products|length < products_count %}
            <span>({{ products|length }} из <a href="/catalog/search/?q={{ query }}">{{ products_count }}</a>)</span>
        {% endif %}
    </div>

    {% for p in products %}
        <div class="main-menu__search__popup__product">
            <div class="main-menu__search__popup__product__price">
                {{ p.price|space_digits|safe }}<span class="ruble">р</span>
            </div>

            <div class="main-menu__search__popup__product__main">
                <a href="{{ p.url }}" class="main-menu__search__popup__product__name" title="{{ p.name }}">
                    {{ p.name }}
                </a>

                <a href="{{ p.brand_url }}" class="main-menu__search__popup__product__brand">
                    {{ p.brand_name }}
                </a>
            </div>
        </div>
    {% endfor %}

    {% if products|length < products_count %}
        <a href="/catalog/search/?q={{ query }}" class="main-menu__search__popup__base-search">
            Смотреть все {{ products_count }} {{ products_count|declination_of_number:'товар__товара__товаров' }}
        </a>
    {% endif %}
{% endif %}