.hide
{
    display: none;
}

.catalog-filter-icon
{
    position: fixed;
    border: 2px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    background-color: #fff;
    background-image: url(/static/admin/img/filter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 50%;
    margin-top: -32px;
    width: 32px;
    height: 64px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.5;
}

.catalog-filter-icon:hover
{
    opacity: 1;
}

.catalog-filter
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    background-color: #4b4b4b;
    z-index: 100000;
}

.catalog-filter__name,
.catalog-filter__brand,
.catalog-filter__line
{
    padding: 10px 20px;
}

.catalog-filter__name
{
    padding-top: 20px;
}

.catalog-filter__name input
{
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    padding: 6px;
    border: 0;
    outline: 0;
}

.catalog-filter__brand .chosen-container,
.catalog-filter__line .chosen-container
{
    box-sizing: border-box;
    width: 100%;
}

.catalog-filter__buttons
{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 50px;
    text-align: right;
}

.catalog-filter__buttons label
{
    display: inline-block;
    float: left;
    color: #eee;
    font-size: 11px;
}

.catalog-filter__buttons label span
{
    margin-right: 5px;
}

.catalog-filter__buttons label input
{
    font-size: 11px;
    max-width: 70px;
    box-sizing: border-box;
    padding: 4px;
}


.catalog-filter__close,
.catalog-filter__submit
{
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 15px;
}

.catalog-filter__close:hover,
.catalog-filter__submit:hover
{
    opacity: 1;
}

.catalog-filter__close
{
    background-color: #9b7263;
    margin-right: 15px;
}

.catalog-filter__submit
{
    background-color: #3e673c;
}

.catalog-filter__category
{
    background-color: #fff;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 60px;
    top: 170px;
    padding: 10px;
    overflow: auto;
}

.catalog-filter__category-tree
{
    margin: 0;
    padding: 0;
}

.jquery-tree {
    list-style: none;
    margin: 0 !important;
}

.jquery-tree ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 0 10px 0 !important;
}

.jquery-tree li
{
    list-style-type: none;
}

.jquery-tree-handle {
    cursor: pointer;
    width: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.jquery-tree-collapsed ul {
    display: none;
}

.jquery-tree-collapseall,
.jquery-tree-expandall {
    cursor: pointer;
}

.jquery-tree-collapseall {
    margin-right: 1em;
}

.jquery-tree input {
    position: absolute;
    left: -1000px;
    display: none;
}

.jquery-tree-leaf {
    padding-left: 20px;
}

.jquery-tree-node {
    padding-left: 10px;
}

.jquery-tree-title {
    display:inline-block;
    font-weight: normal;
}

.jquery-tree-checked-partial,
.jquery-tree-checked,
.jquery-tree-unchecked {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    cursor: default;
    padding-left: 25px;
    margin: 0;
}

.jquery-tree-checked-partial {
    background-image: url(/static/admin/img/checkbox-partial.png);
}

.jquery-tree-checked {
    background-image: url(/static/admin/img/checkbox-checked.png);
}

.jquery-tree-unchecked {
    background-image: url(/static/admin/img/checkbox-unchecked.png);
}

.jquery-tree-node label,
.jquery-tree-handle {
    -moz-user-select: none;
}

.catalog-extra-panel
{
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 400;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    color: #666;
    padding: 8px 10px;
    margin-bottom: 15px;
}

.catalog-extra-show-fields
{

}

.catalog-extra-show-fields label
{
    margin-right: 15px;
}

.catalog-extra-products__image img
{
    max-width: 100px;
}

.catalog-extra-products__image_main
{
    background-color: #f5f5f5;
}

.catalog-extra-products__note-value
{
    width: 500px;
}

.catalog-extra-products
{
    margin: 20px 0;
}

.catalog-extra-products td,
.catalog-extra-products th
{
    border: 1px solid #ddd;
    padding: 6px;
}

.catalog-extra-products__name-head,
.catalog-extra-products__image-head,
.catalog-extra-products__note-head,
.catalog-extra-products__feature-head
{
    vertical-align: middle;
    text-align: left;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 12px;
    border: 1px solid #ddd;
}

.catalog-extra-products__name-head
{
    width: 200px;
}

.catalog-extra-products__feature-head
{
    width: 150px;
}

.catalog-extra-products__note
{
    padding: 0 !important;
}

.catalog-extra-products__note-inner
{
    min-height: 50px;
    min-width: 500px;
    padding: 6px;
}

td .catalog-extra-products__uploader-container-inner:last-of-type
{
    margin-bottom: 10px;
}

.catalog-extra-products__add-more-uploader
{
    font-size: 14px;
    font-weight: 500;
    color: #337ab7;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dashed #337ab7;
    padding-bottom: 3px;
}

.catalog-extra-products__add-more-uploader:hover
{
    border-bottom: 1px solid #337ab7;
}

.catalog-extra-actions,
.catalog-extra-actions tr,
.catalog-extra-actions td
{
    border: 0 !important;
}

.catalog-extra-actions td
{
    padding: 6px;
    vertical-align: top;
}

.catalog-extra-actions__replace-container input
{
    margin-right: 10px;
}

.catalog-extra-products__checkbox
{
    width: 20px;
    max-width: 20px;
    text-align: center;
    box-sizing: border-box;
}

.catalog-extra-products__head-row .catalog-extra-products__checkbox
{
    vertical-align: middle;
}

.catalog-extra-products__image
{
    text-align: center;
    font-size: 11px;
}

.catalog-extra-paginator
{
    text-align: center;
    margin: 15px 0;
}

.catalog-extra-paginator__page,
.catalog-extra-paginator__current
{
    margin: 0 5px;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.catalog-extra-paginator__current
{
    color: #333;
}

.catalog-extra-paginator__page
{
    cursor: pointer;
    color: #337ab7;
}

.catalog-extra-paginator__page:hover
{
    text-decoration: underline;
}

.catalog-extra__control
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F8F8F7;
    border-top: 1px solid #eee;
    text-align: right;
    padding: 12px 35px;
}

.catalog-extra__save-button
{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    background-color: #609ab6;
    cursor: pointer;
}

.catalog-extra__save-button:hover
{
    opacity: 0.8;
}

#content-main
{
    padding-bottom: 75px !important;
}

.catalog-extra-products__price
{
    min-width: 75px;
}