{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list catalog_admin %}

{% block content_title %}
    <h1>Расширенное управление каталогом</h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/libs/chosen/chosen.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/admin/css/catalog-extra.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}admin/libs/alertifyjs/css/alertify.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}admin/libs/alertifyjs/css/themes/default.min.css">
{% endblock %}

{% block extrahead %}
    <script src="https://yastatic.net/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}/libs/chosen/chosen.jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="{{ STATIC_URL }}/admin/js/tree.js"></script>
    <script src="{{ STATIC_URL }}admin/libs/alertifyjs/alertify.min.js"></script>
    <script src="{{ STATIC_URL }}/admin/js/catalog-extra.js"></script>
{% endblock %}

{% block bodyclass %}
    {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">
            {% trans 'Home' %}
        </a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">
            {{ cl.opts.app_config.verbose_name }}
        </a>
        &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
        {% build_extra_catalog %}
    </div>
{% endblock %}