{% extends "base.html" %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">404</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page_404">
            <div class="page_404__logo">&nbsp;</div>
            <div class="page_404__big-title">404</div>
            <div class="page_404__small-title">Страница не найдена</div>
            <div class="page_404__text">
                <p>Нам очень жаль, но такой страницы нет на нашем сайте. Возможно, она была удалена или перемещена.</p>
                <p>Попробуйте <a href="/catalog/search/">поискать</a> необходимое в <a href="/catalog/">каталоге товаров</a> или перейти на <a href="/">главную страницу</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}