<!DOCTYPE html>
<html lang="ru">
    {% load core helpers compress %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta viewport="width=device-width, initial-scale=1">
        <meta name="description" content="{{ metatag_description }}">
        <meta name="keywords" content="{{ metatag_keywords }}">
        <title>{{ metatag_title }}</title>
        <link rel="shortcut icon" href="/favicon.png">

        {% if rel_canonical %}
        <link rel="canonical" href="{{ rel_canonical }}">
        {% endif %}

        <link rel="stylesheet" async href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Tenor+Sans&amp;subset=latin,cyrillic'>
        <link rel="stylesheet" async href="https://yastatic.net/jquery-ui/1.11.2/themes/smoothness/jquery-ui.min.css">

        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
            <link rel="stylesheet"  href="{{ STATIC_URL }}libs/ImageViewer/imageviewer.css">
        {% endcompress %}

        {% block additionan_head %}{% endblock %}
        {{ cache.head_scripts|safe }}

        {% if with_json_ld_contacts %}
            {% include_prepared "json_ld/organization_sheme.html" %}
        {% endif %}
    </head>
    <body class="page">
        {{ cache.header|safe }}

        {% block breadcrumbs %}{% endblock %}

        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="page-overlay js-overlay hide">
        </div>

        {{ cache.footer|safe }}

        <!--noindex-->

        <div class="modal-form alert js-modal-form js-alert js-source hide">
            <div class="modal-form__close js-modal-form__close"></div>
            <div class="modal-form__title js-title"></div>
            <div class="modal-form__note js-text"></div>
            <div class="modal-form__bottom">
                <span class="modal-form__button thankyou js-modal-form__close">Хорошо</span>
            </div>
        </div>

        <div class="modal-form alert js-modal-form js-cart-alert js-source hide">
            <div class="modal-form__close js-modal-form__close"></div>
            <div class="modal-form__title js-title">Корзина</div>
            <div class="modal-form__note js-text">Товар успешно добавлен в корзину.</div>
            <div class="modal-form__bottom">
                <span class="modal-form__button continue-shopping js-modal-form__close">Продолжить покупки</span>
                <a href="/cart/" class="modal-form__button go-to-cart">В корзину</a>
            </div>
        </div>

        <!--/noindex-->

        <script src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="https://yastatic.net/underscore/1.8.3/underscore-min.js"></script>
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <script src="https://yastatic.net/jquery-ui/1.11.2/jquery-ui.min.js"></script>

        {% compress js %}
            <script src="{{ STATIC_URL }}libs/ImageViewer/imageviewer.js"></script>
            <script src="{{ STATIC_URL }}js/scripts.js"></script>
        {% endcompress %}

        {% if custom_scripts %}
            {{ custom_scripts|safe }}
        {% endif %}

        {% block additionan_scripts %}{% endblock %}

        <script>
            var lastSearchToken = null;
            var clearCartCookie = {% if remove_cart_cookie %}true{% else %}false{% endif %};
            var cartCookieName = '{{ cart_cookie_name }}';
            var cartMeta = '{{ cart_meta|safe }}';
    </script>
    </body>
</html>
