{% extends "base.html" %}

{% block additionan_head %}
    <meta http-equiv="Cache-control" content="no-cache">
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">500</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="wait-page">
            <div class="wait-page__logo">&nbsp;</div>
            <div class="wait-page__small-title">Страница подготавливается</div>
            <div class="wait-page__text">
                <p>Нам очень жаль, но в настоящее время мы готовим данные для этой страницы. Обычно этот процесс занимает всего <strong>несколько секунд</strong>.</p>
                <p>Мы автоматически перезагрузим эту страницу через <span class="js-wait-page__timer">8</span> <span class="js-wait-page__units">секунд</span>. Благодарим за терпение.</p>
            </div>
        </div>
    </div>
{% endblock %}