{% spaceless %}
    <?xml version="1.0" encoding="UTF-8"?>
    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
        {% for url in urls %}
            <url>
                <loc>https://belorekb.ru{{ url.url }}</loc>
                {% if url.lastmod %}<lastmod>{{ url.lastmod|date:"Y-m-d" }}</lastmod>{% endif %}
                <changefreq>weekly</changefreq>
            </url>
        {% endfor %}
    </urlset>
{% endspaceless %}