{% extends "base.html" %}
{% load helpers thumbnails %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">Оформление заказа</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container cart">
        <h1 class="cart__head h1">
            Оформление заказа
        </h1>

        <div class="cart__empty-cart js-cart__empty-cart {% if not cart or cart.length == 0 or cart.price == 0 %}{% else %}hide{% endif %}">
            <p>Нам очень жаль, но Ваша корзина пуста.</p>
            <p>Попробуйте <a class="reverse-link" href="/catalog/search/">поискать</a> необходимый товар в <a class="reverse-link" href="/catalog/">нашем каталоге</a> или перейти на <a class="reverse-link" href="/">главную страницу</a>.</p>
        </div>

        <div class="hide js-remove-confirm" title="">
            <p></p>
        </div>

        {% if cart and cart.length > 0 and cart.price > 0 %}
            <div class="cart__products js-cart__products">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="name">Товар</th>
                            <th class="price">Цена за шт.</th>
                            <th class="quantity">Количество</th>
                            <th class="total">Итого</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ci in cart_items %}
                            <tr class="js-cart__cart-item js-cart__cart-item-{{ ci.product_id }}" data-price="{{ ci.prepared_product.price }}">
                                <td class="image">
                                    <img alt="" src="{% thumbnail ci.prepared_product.image size='64' blank_photo='/img/blank/b64_64.png' %}">
                                </td>

                                <td class="name">
                                    {{ ci.prepared_product.name }}
                                </td>

                                <td class="price">
                                    {{ ci.prepared_product.price|space_digits|safe }}<span class="ruble">р</span>
                                </td>

                                <td class="quantity">
                                    <div class="quantity-input js-quantity-input">
                                        {% spaceless %}
                                            <div class="quantity-input__minus js-quantity-input__change" data-inc="-1">-</div>
                                            <input type="text" class="quantity-input__input js-quantity-input__input js-only-numeric js-cart__set-quantity" value="{{ ci.quantity|floatformat }}" data-product="{{ ci.product_id }}">
                                            <div class="quantity-input__plus js-quantity-input__change" data-inc="1">+</div>
                                        {% endspaceless %}
                                    </div>
                                </td>

                                <td class="total js-total" data-total="{{ ci.total }}">
                                    {{ ci.total|space_digits|safe }}<span class="ruble">р</span>
                                </td>

                                <td class="remove">
                                    <span class="js-cart__remove-item" data-product="{{ ci.product_id }}">Удалить</span>
                                </td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="total sum js-cart__sum-total">{{ total|space_digits|safe }} <span class="ruble">р</span></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

                <div class="cart__clear js-cart__clear"><span>Очистить корзину</span></div>
            </div>

            <div class="cart__form js-cart__form">
                <form method="post">
                    {% csrf_token %}
                    <div class="cart__form__inner">
                        <div class="cart__form__row">
                            {{ form.phone }}
                            <span> &mdash; обязательное поле. Мы позвоним на этот номер для уточнения деталей заказа.</span>
                        </div>

                        <div class="cart__form__row">
                            {{ form.name }}
                        </div>

                        <div class="cart__form__row">
                            {{ form.email }}
                        </div>

                        <div class="cart__form__row">
                            {{ form.address }}
                        </div>

                        <div class="cart__form__row">
                            {{ form.comment }}
                        </div>
                    </div>
                </form>
            </div>

            <button class="cart__submit js-cart-submit">
                Оформить заказ
            </button>
        {% endif %}
    </div>
{% endblock %}