<h1>Спасибо за заказ!</h1>

<p>
    Дорогой покупатель, ваш заказ принят. Надеемся, что работа с нашим магазином была комфортной и простой.
</p>

<h2>Состав заказа</h2>

<div>
    {% include 'order/mail_products.html' %}
</div>

<p>
    В скором времени мы с вами свяжемся. Если у Вас есть какие-либо вопросы, ответьте на это сообщение или позвоните по телефону  +7-902-27-000-77.
</p>

<p>
    Хорошего дня!
</p>

<p style="text-align:left;">
    С уважением
    belorekb.ru
</p>
