{% load helpers %}

<h1>Новый заказ</h1>

<p>Привет!</p>

<p>
    {{ order.created_at|date:"d.m.Y" }} в {{ order.created_at|date:"H:i" }} был оформлен заказ на сумму {{ order.price|space_digits|safe }}руб. Данные заказа можно посмотреть <a href="https://belorekb.ru/admin/order/order/{{ order.pk }}/">здесь</a>.
</p>

<h2>Состав заказа</h2>

<div>
    {% include 'order/mail_products.html' %}
</div>

<h2>Контакты покупателя</h2>

<table style="border-collapse:collapse;width:100%;border-top:1px solid #dddddd;border-left:1px solid #dddddd;margin-bottom:20px">
    <tbody>
        <tr>
            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                Телефон:
            </td>

            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                {{ order.phone }}
            </td>
        </tr>

        {% if order.name %}
            <tr>
                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                    Имя:
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                    {{ order.name }}
                </td>
            </tr>
        {% endif %}

        {% if order.email %}
            <tr>
                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                    e-mail:
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                    {{ order.email }}
                </td>
            </tr>
        {% endif %}

        {% if order.address %}
            <tr>
                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                    Адрес:
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                    {{ order.address }}
                </td>
            </tr>
        {% endif %}

        {% if order.comment %}
            <tr>
                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                    Коментарий:
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                    {{ order.comment }}
                </td>
            </tr>
        {% endif %}

    </tbody>
</table>

<p>Хорошего дня!</p>

<p>
    <span style="font-style: italic;">
        Это письмо отправлено роботом. Отвечать не него не нужно.
    </span>
</p>