{% load helpers thumbnails %}

<table style="border-collapse:collapse;width:100%;border-top:1px solid #dddddd;border-left:1px solid #dddddd;margin-bottom:20px">
    <thead>
        <tr>
            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                Наименование:
            </td>

            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                Бренд:
            </td>

            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                Количество:
            </td>

            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                Цена:
            </td>

            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#efefef; font-weight:bold; text-align:left; padding:7px; color:#222222">
                Итого:
            </td>
        </tr>
    </thead>
    <tbody>
        {% for i in items %}
            <tr>
                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                    <a href="https://belorekb.ru{{ i.product.get_absolute_url }}">
                        {{ i.product.name }}
                    </a>
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:left; padding:7px">
                    {{ i.product.brand_name }}
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:right; padding:7px">
                    {{ i.quantity|get_int }} шт.
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:right; padding:7px; min-width:70px">
                    {{ i.price|space_digits|safe }} руб.
                </td>

                <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:right; padding:7px; min-width:70px">
                    {{ i.total_price|space_digits|safe }} руб.
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:right; padding:7px" colspan="4">
                <b>Итого:</b>
            </td>
            <td style="font-size:12px; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:right; padding:7px">
                {{ order.price|space_digits|safe }} руб.
            </td>
        </tr>
    </tfoot>
</table>