{% extends "base.html" %}
{% load helpers thumbnails %}

{% block content %}
    <div class="container cart">
        <div class="order-success">
            <h1 class="order-success__head">
                Спасибо за заказ
            </h1>

            <p class="order-success__big">
                Заказ успешно оформлен и в скором времени мы с вами свяжемся.
            </p>

            {% if order.email %}
                <p class="order-success__medium">
                    Вы указали адрес электронной почты и на него придет описание этого заказа. Обещаем, что никогда не будем слать на него спам (мы его сами не переносим) и не передадим его третьим лицам.
                </p>
            {% endif %}

            <p class="order-success__medium">
                Надеемся, что работа с нашим магазином была комфортной и простой.
            </p>

            {% if not order.email %}
                <p class="order-success__medium">
                    Если у вас остались какие-нибудь вопросы, то вы можете написать нам письмо по адресу <a href="mailto:info@belorekb.ru">info@belorekb.ru</a> или позвонить по телефонам в шапке сайте.
                </p>
            {% endif %}

            <p class="order-success__medium">
                Удачного дня!
            </p>

            <p class="order-success__small">
                Перейти на <a href="/">главную страницу</a>.
            </p>
        </div>
    </div>
{% endblock %}