<div class="semantic-core__control-panel hide js-semantic-core__control-panel js-source">
    <span class="semantic-core__control-panel__button semantic-core__control-panel__submit js-semantic-core__submit">
        Сохранить
    </span>
</div>

<div class="js-form-wrapper hide">
    <form action="/manage/save-semantic-core/" method="POST" class="js-form">
        {% csrf_token %}
        <input type="hidden" name="word-index" value="{{ word_index }}">
        <input type="hidden" name="semantic-core" class="js-semantic-core" value="">
    </form>
</div>

<div id="#errors" class="semantic-core__errors js-semantic-core__errors">
</div>

<table class="semantic-core__table js-semantic-core__table">
    <thead class="js-head">
        <tr>
            <th class="semantic-core__table__word-cell">
                Ключевое слово или словосочетание
            </th>

            <th class="semantic-core__table__weight-cell">
                Показов в месяц
            </th>

            <th class="semantic-core__table__destiny-cell">
                Целевая страница
            </th>
        </tr>
    </thead>

    <tbody class="js-body">
        <tr class="hide js-row-source" data-entry="">
            <td contenteditable='true' class="js-replace-class" data-class="semantic-core__table__word-cell js-word js-data-cell js-semantic-core__plain-text-cell"></td>
            <td contenteditable='true' class="js-replace-class" data-class="semantic-core__table__weight-cell js-weight js-data-cell js-semantic-core__plain-text-cell"></td>
            <td class="js-replace-class" data-class="semantic-core__table__destiny-cell empty"></td>
        </tr>

        {% for c in core %}
            <tr class="js-row" data-entry="{{ c.pk }}">
                <td contenteditable='true' class="semantic-core__table__word-cell js-word js-data-cell js-semantic-core__plain-text-cell">
                    {{ c.word }}
                </td>

                <td contenteditable='true' class="semantic-core__table__weight-cell js-weight js-data-cell js-semantic-core__plain-text-cell">
                    {{ c.weight }}
                </td>

                <td class="semantic-core__table__destiny-cell">
                    &nbsp;
                </td>
            </tr>
        {% endfor %}

        <tr class="js-row" data-entry="">
            <td contenteditable='true' class="semantic-core__table__word-cell js-word js-data-cell js-semantic-core__plain-text-cell">

            </td>

            <td contenteditable='true' class="semantic-core__table__weight-cell js-weight js-data-cell js-semantic-core__plain-text-cell">

            </td>

            <td class="semantic-core__table__destiny-cell">

            </td>
        </tr>
    </tbody>
</table>

