.hide
{
    display: none;
}

.semantic-core__control-panel
{
    background: #79aec8;
    padding: 10px 40px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    text-align: right;
}

.semantic-core__errors
{

}

.semantic-core__errors p
{
    padding-bottom: 15px;
    font-size: 15px;
}

.semantic-core__errors p.success
{
    color: #327535;
}

.semantic-core__errors p.error
{
    color: #b95a5d;
}

#container
{
    padding-bottom: 83px;
}

.semantic-core__control-panel__button
{
    display: inline-block;
    vertical-align: middle;
    padding: 6px 20px;
    font-size: 15px;
    font-weight: bold;
    color: #417690;
    border: 3px solid #417690;
    background-color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.semantic-core__control-panel__button:hover
{
    opacity: 0.75;
}

.semantic-core__table
{
    width: 100%;
    box-sizing: border-box;
}

.semantic-core__table th
{
    padding: 6px 8px;
    border: 1px solid #eee;
}

.semantic-core__table td
{
    padding: 6px 8px;
    border: 1px solid #eee;
    min-height: 29px;
    box-sizing: border-box;
}

.semantic-core__table__weight-cell
{
    width: 128px;
}

.semantic-core__table__destiny-cell
{
    width: 256px;
}