{% extends "base.html" %}
{% load helpers %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/">Каталог</a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">Бренды</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="catalog-index__head h1">
            {% if headers.brands_h1 %}
                {{ headers.brands_h1 }}
            {% else %}
                Найдите свой любимый бренд косметики
            {% endif %}
        </h1>

        <div class="brands__section-name">По странам</div>
        <div class="brands__section">
            {% for country in countries %}
                {% if forloop.first or forloop.counter|modulo:4 == 1 %}
                    <div class="brands__section__row">
                {% endif %}
                    <div class="brands__block">
                        <div class="brands__block-title">{{ country.name }}</div>
                        <div class="brands__block-inner">
                            {% for b in country.brands %}
                                <a class="brands__brand" href="{{ b.url }}">{{ b.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% if forloop.last %}
                    </div>
                {% elif not forloop.first and forloop.counter|modulo:4 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="brands__section-name">По алфавиту</div>
        <div class="brands__section">
            {% for letter in letters %}
                {% if forloop.first or forloop.counter|modulo:4 == 1 %}
                    <div class="brands__section__row">
                {% endif %}
                    <div class="brands__block">
                        <div class="brands__block-title">{{ letter.name }}</div>
                        <div class="brands__block-inner">
                            {% for b in letter.brands %}
                                <a class="brands__brand" href="{{ b.url }}">{{ b.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% if forloop.last %}
                    </div>
                {% elif not forloop.first and forloop.counter|modulo:4 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container brands-index__note">
        {% if text %}
            <h2 class="brands-index__note-head h2">
                {% if headers.brands_h2 %}
                    {{ headers.brands_h2 }}
                {% else %}
                    Найдите свой любимый бренд косметики в Екатеринбурге и Верхней Пышме
                {% endif %}
            </h2>
            <div class="brands-index__note__text text">
                {{ text.text|safe }}
            </div>
        {% else %}
            &nbsp;
        {% endif %}
    </div>
{% endblock %}