{% extends "base.html" %}
{% load helpers thumbnails %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/">Каталог</a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/brands/">Бренды</a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">{{ brand.name }}</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="products__head h1">
            {{ brand.name }}
        </h1>

        <div class="brand">
            <div class="brand__main {% if brand.logo %}with-logo{% endif %} col-count-{{ columns }}">
                {% if brand.logo %}
                    <div class="brand__logo brand__main__column">
                        <img src="{% thumbnail brand.logo size='280*' blank_photo='/img/blank/b200_200.png' %}" alt="{{ brand.name }}">
                    </div>
                {% endif %}

                {% if brand.note %}
                    <div class="brand__note brand__main__column">
                        {{ brand.note|safe }}
                    </div>
                {% endif %}

                <div class="brand__statistics brand__main__column">
                    <table>
                        <tr>
                            <td>Родина бренда:</td>
                            <td>{% if brand.country %}{{ brand.country.name }}{% else %}Неизвестна{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Всего товаров:</td>
                            <td>{{ brand.product_count }}</td>
                        </tr>
                        <tr>
                            <td>Диапазон цен:</td>
                            <td>{{ brand.min_price|space_digits|safe }} &mdash; {{ brand.max_price|space_digits|safe }} <span class="ruble">р</span></td>
                        </tr>
                        <tr>
                            <td>Направление:</td>
                            <td>{% for c in root_categories %}{% if not forloop.first %}; {% endif %}{{ c.name|lower }}{% endfor %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if categories %}
        <div class="container">
            {% include "catalog/categories.html" with categories=categories filter_brand=brand.slug %}
        </div>
    {% endif %}

    {% if brand.seo_text %}
        <div class="container">
            <div class="brand__note text">
                {{ brand.seo_text|safe }}
            </div>
        </div>
    {% endif %}
{% endblock %}