{% load helpers thumbnails %}

{% for root in categories %}
    <div class="category-root__category {% if root.children %}with-child{% endif %}">
        <a class="category-root__category__image" href="{{ root.url }}{% if filter_brand %}?brand={{ filter_brand }}{% endif %}">
            <img src="{% thumbnail root.image size='235*125' mode='crop' blank_photo='/img/blank/b120_120.png' %}" alt="{{ root.name }}">
        </a>

        <div class="category-root__category__name">
            <a class="category-root__category__name-link" href="{{ root.url }}{% if filter_brand %}?brand={{ filter_brand }}{% endif %}" title="{{ root.name }} ({{ root.count }})">
                {{ root.name }} <span>{{ root.count }}</span>
            </a>
        </div>

        <div class="category-root__category__footer">
            {% for child in root.children %}
                <div class="category-root__category__child">
                    <a class="category-root__category__child-link" href="{{ child.url }}{% if filter_brand %}?brand={{ filter_brand }}{% endif %}" title="{{ child.name }}">
                        {{ child.name }}
                    </a>
                </div>
            {% endfor %}

            <div class="category-root__category__footer__stat">
                {% if root.min_price != root.max_price %}
                    {{ root.min_price|space_digits|safe }}&mdash;{{ root.max_price|space_digits|safe }} <span class="ruble">р</span>
                {% else %}
                    {{ root.max_price|space_digits|safe }} <span class="ruble">р</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}