{% extends "base.html" %}
{% load helpers %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">Каталог</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="catalog-index__head h1">
            {% if headers.catalog_h1 %}
                {{ headers.catalog_h1 }}
            {% else %}
                Каталог косметики и парфюмерии
            {% endif %}
        </h1>

        <div class="catalog-index__stat">
            В нашем каталоге {{ product_count }} {{ product_count|declination_of_number:'товар__товара__товаров' }} от
            {% for b in brands %}{{ b }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
        </div>

        <div class="catalog-index__columns">
            {% for column in columns %}
                <div class="catalog-index__column">
                    {% for category in column %}
                        <div class="catalog-index__category">
                            <div class="catalog-index__category__head">
                                <a class="catalog-index__category__head-link" href="{{ category.url }}" title="{{ category.name }}">
                                    {% if category.menu_name %}{{ category.menu_name }}{% else %}{{ category.name }}{% endif %}
                                </a>
                            </div>

                            <div class="catalog-index__category__children">
                                {% for child in category.children %}
                                    <a class="catalog-index__category__children-link" href="{{ child.url }}" title="{{ child.name }}">
                                        {% if child.menu_name %}{{ child.menu_name }}{% else %}{{ child.name }}{% endif %}
                                    </a>
                                {% endfor %}
                            </div>

                            <div class="catalog-index__category__footer">
                                {{ category.product_count }} {{category.product_count|declination_of_number:'товар__товара__товаров' }}.
                                {{ category.min_price|space_digits|safe }}&mdash;{{ category.max_price|space_digits|safe }} <span class="ruble">р</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container catalog-index__note">
        {% if text %}
            <h2 class="catalog-index__note-head h2">
                {% if headers.catalog_h2 %}
                    {{ headers.catalog_h2 }}
                {% else %}
                    Каталог косметики и парфюмерии в Екатеринбурге и Верхней Пышме
                {% endif %}
            </h2>
            <div class="catalog-index__note__text text">
                {{ text.text|safe }}
            </div>
        {% else %}
            &nbsp;
        {% endif %}
    </div>
{% endblock %}