{% load helpers thumbnails %}

{% for p in products %}
    <div class="product-block__product">
        <div class="product-block__product__image">
            <a  href="{{ p.url }}" style="background-image: url({% thumbnail p.image size='180' blank_photo='/img/blank/b200_200.png' %});"></a>
        </div>

        <div class="product-block__product__name">
            <a  href="{{ p.url }}">{{ p.name }}</a>
        </div>

        <div class="product-block__product__price">
            {{ p.price|space_digits|safe }}<span class="ruble">р</span>
        </div>

        <div class="product-block__product__brand">
            <a href="{{ p.brand_url }}">{{ p.brand_name }}</a>
        </div>
    </div>
{% endfor %}