{% load helpers thumbnails %}
{% for p in products %}
    <div class="products__product js-products-product" {% if forloop.last %}data-next="{{ next_page_size }}" data-page="{{ page }}" data-count="{{ page_count }}"{% endif %}>
        <div class="products__product__left">
            <a href="{{ p.url }}" style="background-image: url({% thumbnail p.image size='258' blank_photo='/img/blank/b200_200.png' %});"></a>
        </div>

        <div class="products__product__right">
            <div class="products__product__name">
                <a class="products__product__name-link" title="{{ p.name }}" href="{{ p.url }}">{{ p.name }}</a>
            </div>

            {% if p.kind_length and p.kind_length > 1 %}
                <div class="products__product__kinds">
                    Товар имеет еще
                    <a class="products__product__kind-link reverse-link" href="{{ p.url }}#kinds">
                        {{ p.kind_length|subtraction:1 }} {{p.kind_length|subtraction:1|declination_of_number:'вариант__варианта__вариантов' }}
                    </a>
                </div>
            {% endif %}

            <div class="products__product__brand">
                <a class="products__product__brand-link" href="{{ p.brand_url }}">{{ p.brand_name }}</a>

                {% comment %}
                {% if p.line_length and p.line_length > 1 %}
                    <span class="products__product__brandline">
                        линия
                        <a class="products__product__brandline-link" href="{{ p.line_url }}" title="{{ p.line_name }}">{{ p.line_name }}</a>
                        <span class="products__product__brandline-info js-brandline-info">&nbsp;</span>
                    </span>
                {% endif %}
                {% endcomment %}
            </div>
        </div>

        <div class="products__product__bottom">
            <div class="products__product__price-block">
                <div class="products__product__buy js-to-cart" data-product="{{ p.entry_id }}">
                    <span>В корзину</span>
                </div>

                <div class="products__product__price">
                    {{ p.price|space_digits|safe }}<span class="ruble">р</span>
                </div>
            </div>

            <div class="products__product__stock">
                {% if p.instock %}
                    <span class="instock">в наличии</span>
                {% else %}
                    <span class="order">нет в наличии</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}