{% extends "base.html" %}
{% load helpers thumbnails %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/">Каталог</a>
            <span class="breadcrumbs__arrow">&rarr;</span>

            {% for b in product.parent_categories %}
                <a class="breadcrumbs__link" href="{{ b.url }}">{{ b.name }}</a>
                <span class="breadcrumbs__arrow">&rarr;</span>
            {% endfor %}

            <span class="breadcrumbs__current">{{ product.name }}</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container product" {% if microdata %}itemscope itemtype="http://schema.org/Product"{% endif %}>
        <div class="product__main">
            <h1 class="h1" {% if microdata %}itemprop="name"{% endif %}>
                {{ product.name }}
            </h1>

            <div class="product__main__brand">
                {% if microdata %}
                    <meta itemprop="brand" content="{{ product.brand_name }}">
                {% endif %}

                <span>Бренд:</span>
                <a class="reverse-link" href="{{ product.brand_url }}">{{ product.brand_name }}</a>
            </div>

            {% if product.country %}
                <div class="product__main__brand">
                    <span>Страна:</span>
                    {{ product.country_name }}
                </div>
            {% endif %}

            {% comment %}
            {% if product.line_length and product.line_length > 1 %}
                <div class="product__main__line">
                    <span>Линейка:</span>
                    <a class="reverse-link" href="{{ product.line_url }}">{{ product.line_name }}</a>
                </div>
            {% endif %}
            {% endcomment %}

            {% if product.kind_length and product.kind_length > 1 %}
                <div class="product__main__kind">
                    Товар имеет еще
                    <a class="reverse-link" href="#kinds">
                        {{ product.kind_length|subtraction:1 }} {{ product.kind_length|subtraction:1|declination_of_number:'вариант__варианта__вариантов' }}
                    </a>
                </div>
            {% endif %}

            <div class="product__main__price" {% if microdata %}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{% endif %}>
                {% if microdata %}
                    <meta itemprop="price" content="{{ product.price|number_with_point }}">
                    <meta itemprop="priceCurrency" content="RUB">
                {% endif %}

                {{ product.price|space_digits|safe }}<span class="ruble">р</span>
                {% if product.instock %}
                    <p class="product__instock">в наличии</p>
                    {% if microdata %}
                        <link itemprop="availability" href="http://schema.org/InStock">
                    {% endif %}
                {% else %}
                    <p class="product__order">нет в наличии</p>
                {% endif %}

                {% spaceless %}
                    <div class="product__buy js-to-cart" data-product="{{ product.entry_id }}">Положить к корзину</div>
                    <div class="product__quick-buy js-show-ajax-form" data-form-name="quick-order">Купить в один клик</div>
                {% endspaceless%}
            </div>
        </div>

        <div class="product__gallery {% if product.images_list|length > 1 %}product__gallery_with-previews{% endif %}">
            <a class="product__gallery-main" href="{% thumbnail product.image size='1500' %}" data-thumb="{% thumbnail product.image size='350' blank_photo='/img/blank/b350_350.png' %}" title="{{ product.name }}">
                {% if product.image and microdata %}
                    <link itemprop="image" href="{% thumbnail product.image size='1500' %}">
                {% endif %}
                <img class="product__gallery-photo" src="{% thumbnail product.image size='350' blank_photo='/img/blank/b350_350.png' %}" alt="{{ product.name }}">
            </a>

            {% if product.images_list|length > 1 %}
                <div class="product__gallery-previews">
                    {% if product.images_list|length > 4 %}
                        <div class="product__gallery-prev product__gallery-button_disabled" data-inc="-1"><span></span></div>
                    {% endif %}
                    <div class="product__gallery-previews-inner">
                        {% for img in product.images_list %}
                            <div class="product__gallery-preview {% if forloop.counter == 1 %}product__gallery-preview_active{% endif %} {% if forloop.counter > 4 %}product__gallery-preview_collapsed{% endif %}" data-thumb-image="{% thumbnail img size='350' blank_photo='/img/blank/b350_350.png' %}" data-hires-image="{% thumbnail img size='1500' blank_photo='/img/blank/b350_350.png' %}">
                                <img alt="" src="{% thumbnail img size='64' blank_photo='/img/blank/b64_64.png' %}">
                                <span class="product__gallery-preview-overlay"></span>
                            </div>
                        {% endfor %}
                    </div>
                    {% if product.images_list|length > 4 %}
                        <div class="product__gallery-next" data-inc="1"><span></span></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="product__description">
            {% if has_description or has_features %}
                {% if has_description %}
                    <div class="product__note text {% if has_features %}narrow{% endif %}" {% if microdata %}itemprop="description"{% endif %}>
                        <h2>Описание</h2>
                        {{ product.note|safe }}
                    </div>
                {% endif %}

                {% if has_features %}
                    <div class="product__features text {% if has_description %}narrow{% endif %}">
                        <h2>Характеристики</h2>
                        <table>
                            {% for f in features %}
                                <tr>
                                    <td>
                                        {{ f.name }}:
                                    </td>
                                    <td>
                                        {{ f.value }}
                                        {{ f.units }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
        </div>

        {% if product.kind_length and product.kind_length > 1 %}
            <div id="kinds" class="product__kinds">
                <h2>Варианты товара</h2>
                <table>
                    {% for kind in kinds %}
                        <tr>
                            <td class="photo">
                                <div>
                                    <img src="{% thumbnail product.image size='48' blank_photo='/img/blank/b32_32.png' %}" alt="{{ kind.name }}">
                                </div>
                            </td>

                            <td class="name">
                                <a class="reverse-link" href="{{ kind.url }}">{{ kind.name }}</a>
                            </td>

                            <td class="price">
                                {{ kind.price|space_digits|safe }}<span class="ruble">р</span>
                            </td>

                            <td class="instock">
                                {% if kind.instock %}
                                    <span class="product__instock">в наличии</span>
                                {% else %}
                                    <span class="product__order">нет в наличии</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        {% endif %}

        {% if simular %}
            <div class="product-block product__simular">
                <div class="product-block__title">
                    <span class="product-block__title__head">Похожие товары</span>
                </div>

                <div class="product-block__products">
                    {% include "catalog/products__list__simple.html" with products=simular %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}