{% extends "base.html" %}
{% load helpers %}
{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/">Каталог</a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            {% for ancestor in small_menu_data.ancestors %}
                <a class="breadcrumbs__link" href="{{ ancestor.url }}">{{ ancestor.name }}</a>
                <span class="breadcrumbs__arrow">&rarr;</span>
            {% endfor %}
            <span class="breadcrumbs__current">{{ category.name }}</span>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="products__head h1">
            {{ category.name }}
        </h1>

        <div class="settings">
            <div class="products__top content with-sidebar">
                <div class="products__view js-products__view {% if not has_view %}js-bounce-effect{% endif %}">
                    <span class="products__view__blocks js-set-products-view {% if view == 'blocks' %}active{% endif %}" data-view="blocks" title="Показывать товары крупной плиткой">&nbsp;</span>
                    <span class="products__view__lines js-set-products-view {% if view == 'list' %}active{% endif %}" data-view="list" title="Показывать товары списком">&nbsp;</span>
                    <span class="products__view__small-blocks js-set-products-view {% if view == 'small-blocks' %}active{% endif %}" data-view="small-blocks" title="Показывать товары мелкой плиткой">&nbsp;</span>
                </div>
                <div class="products__sorting js-products__sorting">
                    Сортировать по:
                    <span class="products__sorting__sort js-products-sort {% if filter_form.order_name == 'default' %}active{% endif %}" data-order="default">
                        умолчанию
                    </span>

                    <span class="products__sorting__sort js-products-sort {% if filter_form.order_name == 'name' %}active{% endif %}" data-order="name">
                        имени
                    </span>

                    <span class="products__sorting__sort js-products-sort {% if filter_form.order_name == 'price-great' %}active{% endif %}" data-order="price-great">
                        цене <span>(сначала дешёвые)</span>
                    </span>

                    <span class="products__sorting__sort js-products-sort {% if filter_form.order_name == 'price-less' %}active{% endif %}" data-order="price-less">
                        цене <span>(сначала дорогие)</span>
                    </span>
                </div>
            </div>
        </div>

        <aside class="sidebar">

            {% if small_menu_data.ancestors %}
                <div class="sidebar__small-menu">
                    <div class="sidebar__small-menu__ancestors">
                        {% for ancestor in small_menu_data.ancestors %}
                            <div class="sidebar__small-menu__ancestor sidebar__small-menu__ancestors-level-{{ forloop.counter }}">
                                <a class="sidebar__small-menu__ancestor-link link" href="{{ ancestor.url }}">{{ ancestor.menu_name }}</a>

                                {% if forloop.last %}
                                    <span class="sidebar__small-menu__current">{% if category.menu_name %}{{ category.menu_name}}{% else %}{{ category.name }}{% endif %}</span>
                                    {% for children in small_menu_data.children %}
                                        <a class="sidebar__small-menu__child link" href="{{ children.url }}">{{ children.menu_name }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="sidebar__filter js-filter">
                <div class="sidebar__filter__notice js-filter-quantity-notice hide js-window">
                    <span class="sidebar__filter__notice__close js-close-window">&nbsp;</span>
                    <span class="sidebar__filter__text js-sidebar__filter__text"></span><br>
                    <span class="sidebar__filter__button dashed-link js-filter-submit">применить фильтр?</span>
                </div>
                {% for f in filter_form.fields %}
                    {% if f.whois == 'checkbox' %}
                        <div class="sidebar__filter__block js-filter-block">
                            <div class="sidebar__filter__block__title js-filter-expand-block {% if f.is_collapse %}collapsed{% endif %}">
                                <span>{{ f.label }}</span>
                            </div>

                            <div class="sidebar__filter__block__content js-filter-block__content {% if f.is_collapse %}hide{% endif %}">
                                {% for slug, label in f.choices %}
                                    {% if forloop.counter == f.collapse_border %}
                                        <div class="js-filter-hidden-rows hide">
                                    {% endif %}

                                    <div class="sidebar__filter__block__content__row">
                                        <label class="filter-checkbox js-filter-checkbox">
                                            <input class="js-filter-serialize js-replace-on-id" type="checkbox" name="{{ f.name }}" value="{{ slug }}" {% if slug in f.initial %}checked{% endif %}>
                                            <span>{% if f.is_numeric %}{{ label|floatformat }}{% else %}{{ label }}{% endif %}</span>
                                        </label>
                                    </div>

                                    {% if forloop.last %}
                                        {% if forloop.counter >= f.collapse_border %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if f.quantity > f.collapse_border %}
                                    <span class="sidebar__filter__block__show-all js-show-all-in-filter dashed-link">
                                        Показать еще
                                        {{ f.quantity|subtraction:f.collapse_border|add:1 }}
                                        {{ f.quantity|subtraction:f.collapse_border|add:1|declination_of_number:'вариант__варианта__вариантов' }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    {% elif f.whois == 'instock' %}
                        <div class="sidebar__filter__block js-filter-block">
                            <div class="sidebar__filter__block__title js-filter-expand-block">
                                <span>{{ f.short_label }}</span>
                            </div>

                            <div class="sidebar__filter__block__content js-filter-block__content">
                                <div class="sidebar__filter__block__content__row">
                                    <label class="filter-checkbox js-filter-checkbox">
                                        <input class="js-filter-serialize js-replace-on-id" type="checkbox" name="{{ f.name }}" value="{{ f.instock_value }}" {% if f.initial %}checked{% endif %}>
                                        <span>{{ f.label }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% elif f.whois == 'price' %}
                        {% if f.attr == 'min' %}
                            <div class="sidebar__filter__block js-filter-block">
                                <div class="sidebar__filter__block__title js-filter-expand-block">
                                    <span>{{ f.label }}</span>
                                </div>

                                <div class="sidebar__filter__block__content js-filter-block__content">
                        {% endif %}

                        <input class="js-replace-on-id filter-price-input js-range-{{ f.attr }} {{ f.attr }} js-filter-serialize js-only-numeric" type="text" name="{{ f.name }}" value="{{ f.initial }}" data-default="{{ f.default }}" data-val="{{ f.initial }}">

                        {% if f.attr == 'max' %}
                                    <div class="sidebar__filter__price-range js-filter-price-range"></div>
                                </div>
                            </div>
                        {% else %}
                            <span class="filter-price__delimiter">&mdash;</span>
                        {% endif %}
                    {% elif f.whois == 'hidden' %}
                        <input type="hidden" class="js-replace-on-id js-filter-serialize js-filter__{{ f.name }}" name="{{ f.name }}" value="{{ f.initial }}" data-default="{{ f.default }}">
                    {% endif %}
                {% endfor %}
                <div class="sidebar__filter__bottom">
                    <span class="grey-button sidebar__filter__submit js-filter-submit" title="Применить настройки фильтра">Применить фильтр</span>
                    <span class="grey-button sidebar__filter__reset js-filter-reset" title="Сбросить настройки фильтра в исходное состояние">Сбросить</span>
                </div>

            </div>
        </aside>

        <article class="content with-sidebar">
            <div id="products" class="products__list js-products__list {% if view == 'list' %}list{% elif view == 'small-blocks' %}small-blocks{% else %}blocks{% endif %}">
                {% include 'catalog/products__list.html' %}
            </div>
            <div class="products__list__after">&nbsp;</div>


            <div class="products__paginator js-products__paginator">
                <div class="js-products-paginator-next products__paginator__next grey-button hide"></div>
                {% for p in pages %}
                    <a class="js-element" href="?page={{p}}">{{ p }}</a>
                {% endfor %}
            </div>

            {% if category.note %}
                <div class="products__footer">
                    <h2 class="products__footer h2">
                        {{ category.second_name }}
                    </h2>
                    <div class="products__note text">
                        {{ category.note|safe }}
                    </div>
                </div>
            {% endif %}
        </article>
        <div class="next-page">
        {% if relink_to %}
            <a href="{{ relink_to.url }}" class="next-page-link" title="Следующая категория">{{ relink_to.name }}</a>
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block additionan_scripts %}
    <script>
        var lastFilterNoticeToken = null;
        var lastFilterNoticeElementID = null;
    </script>
{% endblock %}