{% extends "base.html" %}
{% load helpers %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/">Каталог</a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <span class="breadcrumbs__current">{{ category.name }}</span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="category-root__head h1">
            {{ category.name }}
        </h1>

        <div class="category-root">
            {% include "catalog/categories.html" with categories=subcategories %}
        </div>
    </div>
    <div class="container category-root__note">
        {% if category.note %}
            <h2 class="category-root__note-head h2">
                {% if category.second_name %}
                    {{ category.second_name }}
                {% endif %}
            </h2>
            <div class="category-root__note__text text">
                {{ category.note|safe }}
            </div>
        {% else %}
            &nbsp;
        {% endif %}
    </div>
{% endblock %}