{% extends "base.html" %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            <a class="breadcrumbs__homepage" href="/"><span>&nbsp;</span></a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            <a class="breadcrumbs__link" href="/catalog/">Каталог</a>
            <span class="breadcrumbs__arrow">&rarr;</span>
            {% if old_search_query %}
                <span class="breadcrumbs__current">Результаты поиска по запросу "{{ old_search_query }}"</span>
            {% else %}
                <span class="breadcrumbs__current">Поиск</span>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="search__form-container">
            <form class="search__form" method="get" action="/catalog/search/">
                <input autofocus class="search__input js-search-input" name="q" type="search" value="{{ old_search_query }}" placeholder="Поиск по каталогу товаров">
            </form>
        </div>

        {% if products %}
            <div class="search__products-container">
                {% include "catalog/products__list__simple.html" %}
            </div>
        {% elif old_search_query %}
            <p>К сожалению, по Вашему запросу ничего не найдено :(</p>
            <p>Попробуйте изменить запрос или воспользуйтесь навигацией по каталогу.</p>
        {% endif %}

        {% if page_count > 1 %}
            <div class="search__paginator">
                {% for p in pages %}
                    {% if p == page %}
                        <span class="search__paginator-page search__paginator-page_current">
                            {{ p }}
                        </span>
                    {% else %}
                        <a class="search__paginator-page" href="?page={{p}}&amp;q={{ old_search_query }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}